#experience > #xp-section > .xp-time {
    border-right: 1px solid var(--classic-blue);
}

/********** WIN95 STYLE **********/
body.classic {
	background-color: var(--teal);
	background-image: none;
	font-family: 'MS Sans Serif',sans-serif;
	line-height: normal;
	animation: none;
}

body.classic > p, 
#navbar.classic .nav-item >a, 
#copyright.classic, #copyright.classic > #copyright-wrapper > #to-top, 
#greeting.classic, #greeting.classic > p, #next-link-container.classic > .next-link, 
#description.classic > p,
#description.classic > .skill-list,
#skillbox.classic > .skill > .description-box,
#gallery.classic > figure > figcaption, #gallery.classic > figure > .project-details, #city-skyline.classic > .background-buildings > #city-skyline-title,
#contact.classic > #availability > #status-availability > p {
    color: var(--black);
}
/*#site-name.classic h1,
#site-name.classic h2,
#welcome-section.classic span,
#contact.classic #status,#contact.classic #status-for {
    font-family: "W95FA.otf",sans-serif;
}*/

#site-name.classic h1,
#site-name.classic h2,
#welcome-section.classic span,
#contact.classic #status,#contact.classic #status-for,
#terminal.classic, #avatar.classic > #codename, #typing-container1 > .typing, #typing-container2 > .typing, #experience.classic > .section-title {
    font-family: 'Inconsolata', monospace;
}

#typing-container1.classic, #typing-container2.classic {
    margin: 0 auto 4% auto;
}

#copyright.classic, #navbar.classic {
    box-shadow: -1px -1px var(--white)!important;
}

#navbar.classic>ul,body.classic {
	border-left: 2px solid var(--classic-blue);
}
    #navbar.classic>ul {
        display: grid;
        grid-template-columns: 1% 15% 10% 15% 15% 10%;
        gap: 6%;
    }
    #navbar.classic > .nav-container >.nav-column.nav-item:hover {
        background-color: transparent;
        clip-path: none;
    }
    #navbar.classic .nav-item:hover>a {
        color: var(--black);
    }
    #navbar.classic > .nav-container > .nav-column.nav-item.selected a, 
    #next-link-container.classic > .next-link,
    #greeting.classic, #description.classic > #about-text,
    #skillbox.classic > .skill, #experience.classic > #xp-section,
    #gallery.classic > figure > a > .project,
    #social.classic > .section-title {
        border-bottom: none;
        box-shadow: 
        -2px -2px var(--classic-gray), -2px 0 var(--classic-gray), 0 -2px var(--classic-gray), 
        -4px -4px var(--white), -4px 0 var(--white), 0 -4px var(--white),
         2px 2px var(--gray), 0 2px var(--gray), 2px 0 var(--gray), 2px -2px var(--classic-gray), -2px 2px var(--gray),
          -4px 2px var(--white), -4px 4px var(--black), 4px 4px var(--black), 4px 0 var(--black), 0 4px var(--black), 2px -4px var(--white), 4px -4px var(--black);
    }

    #smudge.classic {
        background-color: var(--classic-blue);
        clip-path: polygon(100% 0,100% 70%,90% 100%,0 100%,0 0);
        width: 5%;
    }
    #navbar.classic .nav-container .nav-column.toggle-column label.switch span.slider.round {
        background-color: #358f35;
    }

#next-link-container.classic {
    margin: 3%;
}
#profile-wrap-skills > #next-link-container.classic {
    margin: 1% auto;
}
    #next-link-container.classic > .next-link {
        padding: 8px;
        background-color: var(--light-gray);
    }
        #next-link-container.classic > .next-link:hover {
            background-color: var(--classic-gray);
            border: none;
        }
    #next-link-container.classic > span.prompt-symbol {
        color: var(--black);
        font-weight: bold;
    }

#copyright.classic,#navbar.classic {
	background: var(--silver);
	border: 5px outset var(--white);
	box-shadow: -1px -1px var(--white),0 -1px var(--white),-1px 0 var(--white),1px 1px var(--black),-1px 1px var(--black),1px -1px var(--black);
}
    #copyright.classic,#navbar.classic>ul>li>a {
        color: var(--black);
    }
    #copyright.classic,#navbar.classic>ul>.nav-item {
        font-family: 'MS Sans Serif',sans-serif;
        letter-spacing: normal;
    }

#site-name.classic {
    background: teal;
    background-image: url(../assets/images/classic-design/wall.png);
}

#site-name.classic, #welcome-section.classic {
    border-bottom: none;
    box-shadow: 0 2px #808280, 0 4px var(--white);
}

#site-name.classic, #experience.classic .highlight-xp {
    text-shadow: 0 0 25px var(--classic-blue);
}

#welcome-section.classic {
    border-bottom: 5px ridge var(--silver);
    grid-template-columns: 25% 60% 15%;
}
    #welcome-section.classic .terminal {
        border: 3px outset #d3d3d3;
        box-shadow: 1px 1px var(--black-shadow);
    }
    #welcome-section.classic > #widgets {
        display: block;
    }
    #welcome-section.classic > #widgets > table {
        margin: 0 auto;
    }
    #welcome-section.classic > #widgets > #stamps > .oldie-buttons,
    #welcome-section.classic > #widgets > #stamps > a > .oldie-buttons {
        margin: 12% auto 0 auto;
        width: 120px;
        height: 35px;
    }
    #navbar.classic > .nav-container > .nav-column > .on-off-message {
        border: inset var(--gray);
    }
    #navbar.classic > .nav-container > .toggle-button:hover > #in-the-moment {
        display: block;
        border: inset var(--gray);
        background-color: #cc9;
        border: 1px solid #466161;
        box-shadow: none;
        color: #0d2b2a;
    }
    #navbar.classic > .nav-container > .toggle-button:hover > #nostalgic {
        display: none;
    }

#welcome-section.classic .avatar>img {
    box-shadow: none;
}
    #welcome-section.classic #current-avatar, #avatar.classic > #about-avatar {
        display: none;
    }
    #welcome-section.classic #pixel-avatar, #avatar.classic > #old-avatar {
        display: block;
    }
    #avatar.classic > #old-avatar {
        width: 261px;
    }

/*#cat-gif {
    visibility: hidden;
}
#cat-gif.classic {
    visibility: visible;
}*/
#projects.classic > .artifacts, #social.classic > .artifacts {
    display: block !important;
}

#greeting.classic, #description.classic > #about-text {
    background-color: #c0c0c0;
}
#description.classic > #about-text {
    padding-bottom: 1%;
}
    #greeting.classic > p >span.bold.neon-text,
    #description.classic > .skill-list > li > span.bold.neon-text {
        color: var(--classic-blue);
        text-shadow: 1px 1px var(--black-shadow);
    }
    #description.classic > p > span.pink-text {
        color: #dd88b4;
        font-weight: 800;
        text-shadow: 1px 1px var(--black-shadow);
    }

#terminal.classic {
    border: 5px inset var(--light-gray);
    margin: 1% auto;
    box-shadow: none;
}

#description.classic > .description-box, #skillbox.classic > .skill > .description-box  {
    border-top: 2px solid white;
    border-right: 2px solid #222;
    border-bottom: 2px solid #222;
    border-left: 2px solid white;
    background-color: #c0c0c0;
    box-shadow: none;
}

#skillbox.classic > .skill, #skillbox.classic > .skill > .description-box  {
    background-color: #c0c0c0;
}

#description.classic > .skill-list {
    margin-left: 0;
    box-shadow: none;
}

#description.classic > .skill-list, #skillbox.classic > .skill > ul, #gallery.classic > figure > .project-details{
    border: 2px inset var(--black);
    background-color: #ffffe1;
}

#experience.classic > #xp-section {
    border-color: var(--classic-gray);
    border-style: solid double double double;
    border-width: 3px;
    margin-bottom: 2rem;
    background-color: #0000cd;
    transform: none;
}
    #experience.classic > #xp-section > .break {
        border-bottom: 2px solid var(--white);
    }

#skillbox.classic > .skill > ul {
    box-shadow: 0 2px var(--black), 0 -2px #7d7d7d, -2px -2px #7d7d7d, 2px 2px var(--black), -2px 2px #7d7d7d, 2px -2px var(--black);
}

#skillbox.classic > .skill > ul > li {
    color: var(--black);
}

#skillbox.classic > .skill > ul > li > span.pink-text.bold {
    background-color: #cd00cd;
    color: yellow;
}

#skillbox.classic > .skill > ul > li > span.neon-text {
    color: var(--classic-blue);
}

#contact.classic>.section-title,#description.classic>.section-title,#experience.classic>.section-title,#gallery.classic>.section-title,#skills.classic>.section-title,#social.classic>.section-title {
    background-color: var(--gray);
    border: 2px;
    border-style: outset;
    border-right-color: var(--dark-border);
    border-bottom-color: var(--dark-border);
    font-family: 'MS Sans Serif',Roboto,sans-serif;
    letter-spacing: normal;
    text-shadow: 3px 3px var(--black-shadow);
    padding: 7px 7px 7px 30px;
    width: 20%;
}

#marquee {
    display: none;
    font-size: 22px;
}
#marquee.classic {
    display: block;
}
#experience.classic>.section-title,#gallery.classic>.section-title {
	width: 47%;
}
#construction {
    display: none;
}
#construction.classic {
    display: block;
    margin: 15px auto;
}

/*#contact.classic>.section-title:hover,#description.classic>.section-title:hover,#experience.classic>.section-title:hover,#gallery.classic>.section-title:hover,#skills.classic>.section-title:hover,#social.classic>.section-title:hover {
	/*background: -webkit-linear-gradient(left,var(--classic-blue),#a5cef7);
	border-color: var(--white) var(--white) var(--gray) var(--black);
	text-shadow: none;
}*/

#contact.classic>.section-title>.arrow,#description.classic>.section-title>.arrow,#experience.classic>.section-title>.arrow,#gallery.classic>.section-title>.arrow,#skills.classic>.section-title>.arrow,#social.classic>.section-title>.arrow {
	display: none;
}

#contact.classic>.section-title:hover+.section-text,#description.classic>.section-title:hover+.section-text,#gallery.classic>.section-title:hover+.section-text,#skills.classic>.section-title:hover+.section-text {
	background-color: var(--silver);
	border: 2px inset var(--white);
	border-color: var(--black) var(--white) var(--white) var(--black);
	box-shadow: none;
	color: var(--black);
}

#skills.classic .icons {
	border-left-color: var(--silver);
	border-right-color: var(--silver);
}
    #skills.classic .icon {
        image-rendering: crisp-edges;
    }

#experience.classic > .section-title {
    background: 0 0;
    border: none;
    box-shadow: none;
    margin: 0 auto 3% auto;
}
    #experience.classic > .section-title:hover {
        color: var(--white);
    }
    #experience.classic .highlight-xp {
        background-color: #cd00cd;
        color: yellow;
    }
    #experience.classic .xp-company {
        color: var(--classic-gray);
    }
    #experience.classic > .section-title > #notepad {
        display: block;
        width: 48px;
        height: 48px;
        position: absolute;
    }
    #description.classic > .skill-list > li > #heart-purple {
        display: inline;
    }
    #description.classic > .skill-list > li > #heart-pulse {
        display: none;
    }

#disclaimer.classic > a {
    color: var(--classic-blue);
    font-weight: bold;
    text-shadow: none;
}
#projects.classic > #gallery > figure {
    background-color: var(--silver);
    border-color: var(--white) var(--black) var(--black) var(--white);
    border-radius: 0;
    box-shadow: none;
}
    #projects.classic > #gallery > figure > a > img.project {
        filter: brightness(.9) grayscale(0);
        opacity: 100%;
    }
    #projects.classic > #gallery > figure:hover {
        box-shadow: none;
    }
    #projects.classic > #gallery > #old-avatar {
        display: inline-block;
    }

#contact.classic > #availability > #status-availability {
    background: var(--silver);
    border-color: var(--white) var(--black) var(--black) var(--white);
    border-style: solid;
    color: var(--black);
}
    #contact.classic  > #availability > #status-availability > #green {
        border-radius: 0;
        background: #00e800;
        }

#contact.classic > form > .input-element {
    background: var(--white);
    border: 2px inset #d5d5d5;
    box-shadow: -1px -1px 0 0 #828282;
    color: #424242;
}
    #contact.classic > form >.button {
        background-color: var(--classic-blue);
        border-style: outset;
        border-right-color: var(--dark-border);
        border-bottom-color: var(--dark-border);
    }
    #contact.classic > .button:hover {
        border: 2px inset var(--white);
        background: var(--silver);
        color: var(--smoky-black);
        box-shadow: -1px -1px var(--black);
    }

#social.classic > .section-title {
    background: 0 0;
    border: none;
    box-shadow: none;
    margin: 0 auto;
}
#social.classic > .social-media {
    background: 0 0;
    border-top: 5px ridge var(--silver);
    margin-bottom: 3%;
} 
#social.classic > .social-media > .social-platform {
    font-weight: bold;
    text-shadow: none;
}
#social.classic > .social-media > .social-platform > .linkedin {
    color: var(--light-gray);
}
#social.classic > .social-media > .social-platform > .github {
    color: var(--classic-blue);
    font-weight: bold;
}

/******** TABLET ********/
@media (max-width: 1024px) {
    #next-link-container.classic > .next-link, #next-link-container.classic > .prompt-symbol {
        font-size: 1rem;
    }
    #welcome-section.classic > #widgets {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
    #welcome-section.classic > #widgets > table {
        margin: 0 0 0 auto;
    }
    #welcome-section.classic > #widgets > #stamps > .oldie-buttons, #welcome-section.classic > #widgets > #stamps > a > .oldie-buttons {
        margin: 3% 5%;
    }
    /*#welcome-section.classic > #widgets > table, #welcome-section.classic > #widgets > #stamps {
        display: flex;
        flex-direction: column;
    }*/
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #experience.classic > .section-title, #gallery.classic > .section-title {
        width: 67%;
    }
    #next-link-container.classic {
        margin-left: 0;
    }
    #skillbox.classic > .skill.bonus-margin-bottom {
        margin-bottom: 5%;
    }
    #social.classic > .section-title {
        padding: 5vh 7px 7px 30px;
        width: 100%;
    }
    #typing-container1.classic, #typing-container2.classic {
        margin-bottom: 7%;
    }
}

/******** MOBILE ********/
@media (max-width: 767px) {
    #welcome-section > table {
        display: none;
    }
    #profile-wrap.classic {
        margin-top: 0;
    }
    #typing-container1.classic, #typing-container2.classic {
        padding-bottom: 0;
    }
    #avatar.classic {
        margin: 0 auto 5% auto;
    }
    #greeting.classic, #skillbox.classic {
        padding: 3%;
    }
    #skillbox.classic > .skill.bonus-margin-bottom {
        margin-bottom: 0;
    }
    #next-link-container.classic {
        display: flex;
        align-items: center;
    }
    #next-link-container.classic  > .intro-links {
        margin: 3% auto 3% 10%;
    }
    #next-link-container.classic > .prompt-symbol {
        margin: 2%;
    }
    #profile-wrap-skills.classic > #next-link-container.classic {
        display: inline-block;
        margin: 4% auto 4% auto;
        width: 100vw;
    }

    #experience.classic > .section-title, #gallery.classic > .section-title, #social.classic > .section-title {
        width: 100%;
      }
    
      #experience.classic > .section-title {
        margin: 2% auto;
    }
      #notepad {
        width: 32px !important;
        height: 32px !important;
      }
    #contact.classic {
        margin: 0 0 24% 0;
    }
    #social.classic {
        margin-top: 5vh;
    }
}

@media (max-width: 479px) {
    #welcome-section.classic > div:nth-child(2) > #next-link-container.classic {
        width: 80vw;
        margin-left: 18% !important;
    }
    #experience.classic > .section-title {
        margin: 7% auto 4% auto;
    }
    #social.classic {
        margin-top: 12vh;
    }
    #skillbox.classic > .skill.bonus-margin-bottom {
        margin-bottom: 17%;
    }
   #xp-section.classic {
        margin-left: -1rem;
    }
}
@media (max-width: 375px) {
    /*#navbar.classic > .nav-container > div:nth-child(5) {
        margin-top: 10px;
        margin-bottom: 0;
    }*/
    #navbar.classic > .nav-container > div:nth-child(6) {
        padding-top: 10px;
    }
    #welcome-section.classic > div:nth-child(2) > #next-link-container.classic {
        padding-top: 1rem;
        margin-left: 14%;
        width: 80vw;
    }
    #typing-container1.classic, #typing-container2.classic {
        margin-bottom: 7%;
    }
    #projects.classic > .artifacts, #social.classic > .artifacts {
        margin-top: 3%;
    }
    #social.classic > .artifacts {
        margin-top: 7%;
    }
}