/********** CITY SKYLINE **********/

#city-skyline-title {
  font-size: 1rem;
  font-style: italic;
  margin-top: 1%;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 30px;
  width: 80%;
  text-align: right;
}
#city-skyline > .background-buildings > .oldie-css-button {
  display: none;
}
#city-skyline.classic > .background-buildings > .oldie-css-button {
  display: initial;
  position: absolute;
  z-index: 1;
  top: 20%;
  right: 30px;
  float: right;
}

#city-skyline {
    margin: auto;
  }
  #city-skyline.classic {
    border: 0;
  }
  
  #city-skyline,
  .background-buildings,
  .foreground-buildings {
    height: 300px;
    overflow: hidden;
    width: 85%;
  }
  #city-skyline .foreground-buildings {
    border: 2px outset var(--gray);
  }
  #city-skyline .sky {
    background: radial-gradient(
      closest-corner circle at 15% 15%,
      #ccc,
      #ccc 20%,
      #445 21%,
      #223 100%
    );
  }
  #city-skyline.classic .sky {
    background: radial-gradient(
      circle closest-corner at 15% 15%,
      #fae653 0,
      #f2de3b 20%,
      #f3e870 21%,
      #c5cddc 100%
    );
  }
  #city-skyline #disclaimer {
    color: var(--white);
  }
  #city-skyline.classic #disclaimer {
    color: var(--smoky-black);
  }
  
  .background-buildings,
  .foreground-buildings {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    position: absolute;
  }
  .building-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 10%;
  }
  .window-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .bb1-window {
    height: 10%;
  }
  .bb1a {
    width: 70%;
  }
  .bb1b {
    width: 80%;
  }
  .bb1c {
    width: 90%;
  }
  .bb1d {
    height: 70%;
    width: 100%;
  }
  
  .bb2 {
    height: 50%;
    width: 10%;
  }
  .bb2a {
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
  }
  .bb2b {
    height: 100%;
    width: 100%;
  }
  .bb3 {
    height: 55%;
    width: 10%;
  }
  .bb4 {
    height: 58%;
    width: 11%;
  }
  .bb4a {
    height: 10%;
    width: 3%;
  }
  .bb4b {
    height: 5%;
    width: 80%;
  }
  .bb4c {
    height: 85%;
    width: 100%;
  }
  .bb4-window {
    height: 90%;
    width: 18%;
  }
  
  #city-skyline .bb1-window {
    background: linear-gradient(var(--black), var(--black));
  }
  #city-skyline .bb1d {
    background: linear-gradient(var(--black) 50%, var(--black));
  }
  #city-skyline .bb2a {
    border-bottom: 5vh solid var(--black);
  }
  #city-skyline .bb2b {
    background: repeating-linear-gradient(
      var(--black) 0,
      var(--black) 6%,
      #777 6%,
      #777 9%
    );
  }
  #city-skyline .bb3 {
    background: repeating-linear-gradient(
      90deg,
      var(--black),
      var(--black),
      #777 15%
    );
  }
  #city-skyline .bb4a,
  #city-skyline .bb4b,
  #city-skyline .bb4c {
    background-color: var(--black);
  }
  #city-skyline .bb4-window {
    background-color: #777;
  }
  
  #city-skyline.classic .bb1-window {
    background: linear-gradient(#7c7da3, var(--building-color2));
  }
  #city-skyline.classic .bb1d {
    background: linear-gradient(#7c7da3 50%, var(--building-color2));
  }
  #city-skyline.classic .bb2a {
    border-bottom: 5vh solid var(--building-color2);
  }
  #city-skyline.classic .bb2b {
    background: repeating-linear-gradient(
      var(--building-color2) 0,
      var(--building-color2) 6%,
      var(--window-color2) 6%,
      var(--window-color2) 9%
    );
  }
  #city-skyline.classic .bb3 {
    background: repeating-linear-gradient(
      90deg,
      var(--building-color3),
      var(--building-color3),
      var(--window-color3) 15%
    );
  }
  #city-skyline.classic .bb4a,
  #city-skyline.classic .bb4b,
  #city-skyline.classic .bb4c {
    background-color: var(--building-color4);
  }
  #city-skyline.classic .bb4-window {
    background-color: var(--window-color4);
  }
  
  .fb4 {
    display: flex;
    flex-wrap: wrap;
    height: 45%;
    position: relative;
    left: 10%;
    width: 8%;
  }
  .fb4-window {
    border-radius: 50%;
    height: 10%;
    margin: 10%;
    width: 30%;
  }
  .fb4a {
    border-top: 5vh solid transparent;
  }
  .fb4b {
    height: 89%;
    width: 100%;
  }
  .fb5 {
    height: 33%;
    position: relative;
    right: 10%;
    width: 10%;
  }
  .fb1 {
    height: 60%;
    width: 10%;
  }
  .fb1a {
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
  }
  .fb1b {
    height: 10%;
    width: 60%;
  }
  .fb1c {
    height: 80%;
    width: 100%;
  }
  .fb2 {
    height: 40%;
    width: 10%;
  }
  .fb2-window {
    height: 100%;
    width: 22%;
  }
  .fb2a {
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    width: 100%;
  }
  .fb2b {
    height: 75%;
    width: 100%;
  }
  .fb3 {
    height: 46%;
    width: 10%;
  }
  .fb3-window {
    height: 80%;
    width: 25%;
  }
  .fb3a {
    height: 15%;
    width: 80%;
  }
  .fb3b {
    height: 35%;
    width: 100%;
  }
  .fb6 {
    height: 38%;
    width: 9%;
  }
  
  #city-skyline .fb1a {
    border-bottom: 7vh solid var(--black);
  }
  #city-skyline .fb1b,
  #city-skyline .fb2b,
  #city-skyline .fb3a,
  #city-skyline .fb3b,
  #city-skyline .fb4b {
    background-color: var(--black);
  }
  #city-skyline .fb2a {
    border-bottom: 10vh solid var(--black);
  }
  #city-skyline .fb1c {
    background: repeating-linear-gradient(
        90deg,
        var(--black) 0,
        var(--black) 10%,
        transparent 10%,
        transparent 15%
      ),
      repeating-linear-gradient(
        var(--black) 0,
        var(--black) 10%,
        #777 10%,
        #777 90%
      );
  }
  #city-skyline .fb2-window,
  #city-skyline .fb3-window,
  #city-skyline .fb4-window {
    background-color: #777;
  }
  #city-skyline .fb4a {
    border-left: 8vw solid var(--black);
  }
  #city-skyline .fb5 {
    background: repeating-linear-gradient(
        var(--black) 0,
        var(--black) 5%,
        transparent 5%,
        transparent 10%
      ),
      repeating-linear-gradient(
        90deg,
        var(--black) 0,
        var(--black) 12%,
        #777 12%,
        #777 44%
      );
  }
  #city-skyline .fb6 {
    background: repeating-linear-gradient(
        90deg,
        var(--black) 0,
        var(--black) 10%,
        transparent 10%,
        transparent 30%
      ),
      repeating-linear-gradient(
        var(--black) 0,
        var(--black) 10%,
        #777 10%,
        #777 30%
      );
  }
  
  #city-skyline.classic .fb1a {
    border-bottom: 7vh solid var(--building-color4);
  }
  #city-skyline.classic .fb1b {
    background-color: var(--building-color4);
  }
  #city-skyline.classic .fb1c {
    background: repeating-linear-gradient(
        90deg,
        var(--building-color4) 0,
        var(--building-color4) 10%,
        transparent 10%,
        transparent 15%
      ),
      repeating-linear-gradient(
        var(--building-color4) 0,
        var(--building-color4) 10%,
        var(--window-color4) 10%,
        var(--window-color4) 90%
      );
  }
  #city-skyline.classic .fb2-window {
    background-color: var(--window-color3);
  }
  #city-skyline.classic .fb2a {
    border-bottom: 10vh solid var(--building-color3);
  }
  #city-skyline.classic .fb2b {
    background-color: var(--building-color3);
  }
  #city-skyline.classic .fb3-window {
    background-color: var(--building-color2);
  }
  #city-skyline.classic .fb3a {
    background-color: #7c7da3;
  }
  #city-skyline.classic .fb3b {
    background-color: #7c7da3;
  }
  #city-skyline.classic .fb4-window {
    background-color: var(--building-color2);
  }
  #city-skyline.classic .fb4a {
    border-left: 8vw solid #7c7da3;
  }
  #city-skyline.classic .fb4b {
    background-color: #7c7da3;
  }
  #city-skyline.classic .fb5 {
    background: repeating-linear-gradient(
        var(--building-color2) 0,
        var(--building-color2) 5%,
        transparent 5%,
        transparent 10%
      ),
      repeating-linear-gradient(
        90deg,
        var(--building-color2) 0,
        var(--building-color2) 12%,
        var(--window-color2) 12%,
        var(--window-color2) 44%
      );
  }
  #city-skyline.classic .fb6 {
    background: repeating-linear-gradient(
        90deg,
        var(--building-color3) 0,
        var(--building-color3) 10%,
        transparent 10%,
        transparent 30%
      ),
      repeating-linear-gradient(
        var(--building-color3) 0,
        var(--building-color3) 10%,
        var(--window-color3) 10%,
        var(--window-color3) 30%
      );
  }

@media(max-width:767px) {}
@media(max-width:479px) {
    #city-skyline,
    .background-buildings,
    .foreground-buildings {
      width: 90%;
    }
    #city-skyline-title {
        font-size: 12px;
        text-align: right;
    }
}