@import url("assets/fonts/Primus-Demo.otf");
@import url("assets/fonts/W95FA.otf");
/*Skyline Base Colours*/
/********** BASE STYLE **********/
* {
  box-sizing: border-box;
  margin: 0; }

html:focus-within {
  scroll-behavior: smooth; }

body, body.classic {
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  overflow-x: hidden; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }

img, picture {
  display: block;
  max-width: 100%; }

#site-name {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15vh 0 4% 0;
  white-space: nowrap;
  width: 100%; }

.blinker {
  animation: blinker 0.9s steps(2, start) infinite;
  border-left: 7px solid #FFFFFF;
  height: 15px;
  margin-left: -2px;
  margin-bottom: -2px;
  opacity: 1; }

@keyframes blinker {
  to {
    visibility: hidden; } }
.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 4px; }

.icon {
  margin: 1% 2% 1% 1%;
  object-fit: cover;
  height: 100px;
  width: 100px; }

#experience > .section-title,
#projects > .section-title,
#experience.classic > .section-title,
#projects.classic > .section-title {
  width: 60%; }

#experience .section-title {
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  margin-top: 0; }

.xp-company, .xp-time {
  display: inline-block;
  font-size: 22px;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.xp-time {
  font-size: 19px; }

.xp-title, .xp-description {
  padding: 0 1% 1% 1%;
  width: 78%; }

.xp-title {
  text-align: center; }

.xp-description {
  font-style: italic;
  font-size: 19px; }

#gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 2%;
  row-gap: 2%;
  padding: 0; }
  #gallery figure {
    opacity: 50%; }
  #gallery figcaption {
    display: none;
    text-align: center;
    font-size: 17px;
    position: absolute;
    padding: 5px;
    max-height: 100%;
    max-width: 20%;
    z-index: 2; }
  #gallery figure:hover > figcaption {
    display: block; }

.project {
  opacity: 90%;
  padding: 0;
  height: 100%; }

#gallery > figure, .project, #gallery > figure > figcaption {
  width: 100%; }

#disclaimer {
  font-size: 1rem;
  font-style: italic;
  margin-top: 1%;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 30px;
  width: 80%;
  text-align: right; }

#availability {
  display: block;
  position: absolute;
  margin: 5% 1% 1% 1%;
  padding: 1%;
  line-height: 1.4; }

#green {
  background: linear-gradient(top, #535350 0, #6a6b68 40%, #2c2e2b 100%);
  background: -webkit-linear-gradient(top, #535350 0, #6a6b68 40%, #2c2e2b 100%);
  background: -moz-linear-gradient(top, #535350 0, #6a6b68 40%, #2c2e2b 100%);
  background: -o-linear-gradient(top, #535350 0, #6a6b68 40%, #2c2e2b 100%);
  background: -ms-linear-gradient(top, #535350 0, #6a6b68 40%, #2c2e2b 100%);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  box-shadow: inset 0 1px 1px #FFFFFF, 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 1px #FFFFFF, 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 1px #FFFFFF, 0 1px 3px rgba(0, 0, 0, 0.5);
  float: right;
  margin: 1% 15% 0 0;
  height: 28px;
  width: 28px; }

#green-fill {
  background: linear-gradient(top, #222 0, #7cb82e 100%);
  background: -webkit-linear-gradient(top, #222 0, #7cb82e 100%);
  background: -moz-linear-gradient(top, #222 0, #7cb82e 100%);
  background: -o-linear-gradient(top, #222 0, #7cb82e 100%);
  background: -ms-linear-gradient(top, #222 0, #7cb82e 100%);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  left: 4px;
  top: 4px;
  margin: 7% 5% 10% 5%;
  height: 23px;
  width: 25px; }

#status {
  font-size: 27px;
  letter-spacing: .1rem; }

#status-for {
  font-size: 22px; }

#contact {
  margin: 3% 7% 0 7%;
  position: relative; }

form {
  display: grid;
  align-items: center;
  grid-template-columns: 5% 50%;
  grid-row-gap: 15%;
  margin: 5% 30% 18% 30%;
  position: relative;
  width: 100%; }
  form .input-label {
    grid-column-start: 1;
    color: #FFFFFF;
    padding-left: 17%; }
  form .input-element {
    grid-column-start: 2;
    height: 46px;
    margin-left: 10%;
    padding-left: 10px; }
  form #message {
    grid-column-start: span 2;
    grid-row-start: span 2;
    height: 120%;
    margin: 0;
    padding-top: 1%; }
  form .nospam {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1; }
  form .button {
    cursor: pointer;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    height: 50px;
    margin: 0 25% 1% 25%;
    padding: 0 20px; }

#social {
  border: none;
  margin: 0 7% 1% 7%;
  position: relative; }

.social-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 3% 0 3% 0;
  position: relative;
  width: 100%; }
  .social-media a {
    text-decoration: none;
    color: #FFFFFF; }

footer {
  bottom: 0;
  height: 35px;
  padding-top: 14px;
  position: relative;
  text-align: center;
  width: 100%; }

/********** MODERN STYLE **********/
body {
  background-color: #000000;
  background-image: url(../assets/images/modern-design/shapes.svg);
  border-left: 2px solid #B70E91;
  font-family: 'Jura', monospace, sans-serif;
  animation: fadeBackground 27s infinite alternate;
  animation-fill-mode: backwards; }

@keyframes fadeBackground {
  from {
    background-color: #000000; }
  to {
    background-color: #0b0b0b; } }
nav {
  background: #0F1110;
  border-bottom: 2px solid #282A29; }
  nav ul {
    display: grid;
    grid-template-columns: 12% 17% 12% 17% 17% 15%;
    grid-template-rows: auto;
    column-gap: 1%;
    padding-left: 0; }

.nav-item {
  cursor: pointer;
  font-family: "Primus-Demo.otf", monospace;
  font-size: 27px;
  letter-spacing: .2rem;
  list-style: none;
  justify-content: center;
  padding: 20px; }
  .nav-item a {
    color: #FFFFFF;
    text-decoration: none; }

#smudge {
  background-color: #B70E91;
  clip-path: polygon(80% 0, 100% 70%, 70% 90%, 0 100%, 0 0); }

.nav-item:hover {
  background-color: #B70E91;
  clip-path: polygon(100% 0, 100% 70%, 90% 100%, 0 100%, 0 0); }

#site-name {
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.25) 20%, rgba(0, 0, 0, 0.5) 45%, rgba(0, 0, 0, 0.75) 70%, black 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.25) 20%, rgba(0, 0, 0, 0.5) 45%, rgba(0, 0, 0, 0.75) 70%, black 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.25) 20%, rgba(0, 0, 0, 0.5) 45%, rgba(0, 0, 0, 0.75) 70%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.25) 20%, rgba(0, 0, 0, 0.5) 45%, rgba(0, 0, 0, 0.75) 70%, black 100%);
  border-bottom: 5px ridge #282A29;
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.95); }
  #site-name h1 {
    font-size: 3.5em;
    font-weight: 100;
    letter-spacing: 1.25rem;
    margin-bottom: 5px; }
  #site-name h2 {
    font-size: 1.05em;
    font-weight: 300;
    letter-spacing: .85rem;
    padding-left: .35rem; }

#welcome-section {
  border-bottom: 5px ridge #282A29;
  display: grid;
  grid-template-columns: 25% 70%;
  grid-template-rows: auto;
  gap: 0.1%;
  margin: 2% 2% 2% 0;
  padding: 3% 1% 3% 1%;
  width: 100%; }

.avatar {
  grid-column-start: 1;
  padding-left: 17%; }
  .avatar img {
    box-shadow: 0 0 78px 4px #161A1D;
    -webkit-box-shadow: 0 0 78px 4px #161A1D;
    height: 300px;
    width: 300px; }
  .avatar #current-avatar {
    border: 4px solid #B70E91;
    border-radius: 0 80% 50% 90%/50% 7% 30% 40%; }
  .avatar #current-avatar:hover {
    border-color: #14c1c1;
    box-shadow: 0 0 .5rem #14c1c1, 0 0 .5rem #189494, 0 0 .27rem #134848; }
  .avatar #pixel-avatar {
    display: none; }

.terminal {
  background: #020303;
  border: 5px ridge #282A29;
  border-left: 2px ridge #FFFFFF;
  -webkit-box-shadow: 0 0 78px 4px #161A1D;
  box-shadow: 0 0 78px 4px #161A1D;
  color: #FFFFFF;
  grid-column-start: 2;
  padding: 3% 1% 1% 5%; }
  .terminal span {
    color: #FFFFFF;
    font-family: 'Jura', monospace; }

.on-off {
  background: #020303;
  border: groove #282A29;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 3px #282A29;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  grid-column-start: 2;
  justify-self: right;
  height: 90%;
  width: 10%; }

.on-off-message {
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 .5rem #14c1c1, 0 0 .5rem #189494, 0 0 .5rem #134848;
  color: #FFFFFF;
  display: none;
  margin-right: 1%;
  padding: 0.5%;
  position: absolute; }

.on-off:hover #nostalgic {
  display: block; }
.on-off:hover #in-the-moment {
  display: none; }

.switch {
  display: inline-block;
  position: relative; }

.switch-input {
  display: none; }

.switch-label {
  display: block;
  clip: rect(0 0 0 0);
  color: transparent;
  height: 24px;
  text-indent: -150%;
  user-select: none;
  width: 48px; }

.switch-label::before,
.switch-label::after {
  content: "";
  cursor: pointer;
  display: block;
  position: absolute; }

.switch-label::before {
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  height: 100%;
  width: 100%; }

.switch-label::after {
  background-color: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px; }

.switch-input:checked + .switch-label::before {
  background-color: #3C8C04; }

.switch-input:checked + .switch-label::after {
  left: 24px; }

#resume {
  display: grid;
  grid-template-columns: 100%;
  margin: 0 7% 0 7%;
  padding: 0 4px 4px 4px; }

.section-title {
  color: #FFFFFF;
  font-size: 36px;
  letter-spacing: .27rem;
  margin-top: 3%;
  padding: 7px 7px 7px 1%;
  width: 27%; }

.section-title:hover {
  background-color: #FFFFFF;
  box-shadow: 0 0 .5rem #14c1c1, 0 0 .5rem #189494, 0 0 .5rem #134848;
  color: #040507;
  letter-spacing: 0.08em; }

.arrow {
  display: inline-block;
  height: 30px;
  width: 30px; }

.section-title, .section-text {
  background-color: #0D0D0D;
  border: 2px solid #282A29; }

.section-text {
  color: #FFFFFF;
  font-size: 25px;
  line-height: 1.4;
  padding: 3%;
  text-align: justify; }

.section-title:hover + .section-text {
  background-color: #040507;
  box-shadow: 0 0 .5rem #14c1c1, 0 0 .5rem #189494, 0 0 .5rem #134848; }

.icons {
  border-left: 2px solid #282A29;
  border-right: 2px solid #282A29; }

.xp {
  background: #0D0D0D;
  border: 2px solid #282A29;
  border-bottom: 5px ridge rgba(20, 193, 193, 0.75);
  border-radius: 20px;
  font-size: 25px;
  padding: 2% 2% 2% 3%;
  transform: perspective(800px) scale(0.95) translateX(10px); }

.section-title:hover + .xp {
  border: 3px solid #282A29;
  box-shadow: 0 0 78px 4px #161A1D;
  -webkit-box-shadow: 0 0 78px 4px #161A1D; }

.break {
  border-bottom: 2px solid #282A29; }

.xp-company {
  color: #B70E91; }

#gallery img {
  filter: grayscale(90%); }
#gallery figure:hover {
  opacity: 100%;
  box-shadow: 0 0 78px 4px #161A1D;
  -webkit-box-shadow: 0 0 78px 4px #161A1D; }
#gallery figure:hover img {
  filter: grayscale(0); }

.project {
  border: 2px solid #808080; }

figcaption {
  background-color: #0D0D0D;
  border: 2px solid #282A29;
  color: #FFFFFF; }

#availability {
  background: #0D0D0D;
  border: 2px solid #282A29;
  border-bottom: 5px ridge rgba(20, 193, 193, 0.15);
  border-radius: 20px;
  color: #FFFFFF;
  transform: perspective(800px) scale(0.95) translateX(10px); }

#status {
  font-family: "Primus-Demo.otf", monospace; }

#contact:hover + #availability {
  box-shadow: 0 0 .5rem #14c1c1, 0 0 .5rem #189494, 0 0 .5rem #134848; }

.input-element {
  color: #134848; }

.button {
  background: #B70E91;
  border-radius: 4px;
  /*clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);*/
  box-shadow: 4px 4px 4px 3px #189494;
  transition: all 0.2s ease-in-out; }

.button:hover {
  box-shadow: 1px 1px #14c1c1, 2px 2px #14c1c1, 3px 3px #14c1c1;
  transform: translateX(-3px); }

.social-media {
  border-top: 2px solid #282A29; }

footer {
  background: #0F1110;
  border-top: 2px solid #282A29;
  color: #FFFFFF; }

/********** WIN 95 STYLE **********/
body.classic {
  background-color: #2d7776;
  background-image: none;
  font-family: 'MS Sans Serif', sans-serif;
  line-height: normal;
  animation: none; }

body.classic, #navbar.classic > ul {
  border-left: 2px solid #1a0076; }

#navbar.classic, #copyright.classic {
  background: #c0c0c0;
  border: 5px outset #FFFFFF;
  box-shadow: -1px -1px #FFFFFF, 0 -1px #FFFFFF, -1px 0 #FFFFFF, 1px 1px #040507, -1px 1px #040507, 1px -1px #040507;
  -webkit-box-shadow: 0 0 78px 4px #161A1D; }

#navbar.classic > ul {
  display: grid;
  grid-template-columns: 1% 15% 10% 15% 15% 10%;
  gap: 6%; }

#navbar.classic > ul > li > a, #copyright.classic {
  color: #040507; }

#navbar.classic > ul > .nav-item, #copyright.classic {
  font-family: 'MS Sans Serif', sans-serif;
  letter-spacing: normal; }

#navbar.classic .nav-item:hover {
  background-color: #1a0076;
  clip-path: polygon(100% 0, 100% 70%, 90% 100%, 0 100%, 0 0); }
#navbar.classic .nav-item:hover > a {
  color: #FFFFFF; }

#smudge.classic {
  background-color: #1a0076;
  clip-path: polygon(100% 0, 100% 70%, 90% 100%, 0 100%, 0 0);
  width: 270%; }

#site-name.classic {
  background: #008080;
  border-bottom: 5px ridge #c0c0c0; }
  #site-name.classic h1, #site-name.classic h2 {
    font-family: "W95FA.otf", sans-serif; }

#site-name.classic, .highlight-xp {
  text-shadow: 2px 2px 3px black, 0 0 25px blue, 0 0 5px darkblue; }

#welcome-section.classic {
  border-bottom: 5px ridge #c0c0c0; }
  #welcome-section.classic .terminal {
    border: 3px outset lightgrey;
    box-shadow: 1px 1px #161A1D;
    -webkit-box-shadow: 1px 1px #161A1D; }
  #welcome-section.classic span {
    font-family: "W95FA.otf", sans-serif; }
  #welcome-section.classic .on-off {
    border: inset #808080; }
  #welcome-section.classic .on-off:hover #in-the-moment {
    display: block;
    background-color: #cccc99;
    border: 1px solid #466161;
    box-shadow: none;
    color: #0d2b2a; }
  #welcome-section.classic .on-off:hover #nostalgic {
    display: none; }
  #welcome-section.classic .avatar > img {
    box-shadow: none;
    height: 300px;
    width: 300px; }
  #welcome-section.classic #current-avatar {
    display: none; }
  #welcome-section.classic #pixel-avatar {
    display: block; }

#resume.classic {
  display: grid;
  grid-template-columns: 100%;
  margin: 0 7% 0 7%;
  padding: 0 4px 4px 4px; }

#description.classic > .section-title,
#skills.classic > .section-title,
#experience.classic > .section-title,
#projects.classic > .section-title,
#contact.classic > .section-title,
#social.classic > .section-title {
  background-color: #808080;
  border: 2px;
  border-style: outset;
  border-right-color: #282A29;
  border-bottom-color: #282A29;
  color: #FFFFFF;
  font-family: 'MS Sans Serif', 'Roboto', sans-serif;
  letter-spacing: normal;
  text-shadow: 3px 3px #161A1D;
  padding: 7px 7px 7px 30px;
  width: 20%; }

#experience.classic > .section-title,
#projects.classic > .section-title {
  width: 47%; }

#description.classic > .section-title:hover,
#skills.classic > .section-title:hover,
#experience.classic > .section-title:hover,
#projects.classic > .section-title:hover,
#contact.classic > .section-title:hover,
#social.classic > .section-title:hover {
  background: -webkit-linear-gradient(left, #1a0076, #a5cef7);
  border-color: #FFFFFF #FFFFFF #808080 #040507;
  text-shadow: none; }

#description.classic > .section-title > .arrow,
#skills.classic > .section-title > .arrow,
#experience.classic > .section-title > .arrow,
#projects.classic > .section-title > .arrow,
#contact.classic > .section-title > .arrow,
#social.classic > .section-title > .arrow {
  display: none; }

#description.classic > .section-title:hover + .section-text,
#skills.classic > .section-title:hover + .section-text,
#projects.classic > .section-title:hover + .section-text,
#contact.classic > .section-title:hover + .section-text {
  background-color: #c0c0c0;
  border: 2px inset #FFFFFF;
  border-color: #040507 #FFFFFF #FFFFFF #040507;
  box-shadow: none;
  color: #040507; }

#description.classic > .section-text,
#skills.classic > .section-text,
#experience.classic > .section-text,
#projects.classic > .section-text,
#contact.classic > .section-text,
#social.classic > .section-text {
  color: #FFFFFF;
  border: 2px dashed #FFFFFF;
  background-color: transparent;
  font-size: 25px;
  text-align: initial;
  padding: 3%; }

#skills.classic .icons {
  border-left-color: #c0c0c0;
  border-right-color: #c0c0c0; }
#skills.classic .icon {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges; }

#experience.classic .section-title {
  background: none;
  border: none;
  box-shadow: none; }
#experience.classic .section-text {
  background: none;
  border: 2px dashed #FFFFFF;
  color: #FFFFFF; }
#experience.classic .xp-company {
  color: #1a0076; }

#projects.classic figure {
  opacity: 100%; }
#projects.classic img {
  filter: brightness(0.9) grayscale(0); }
#projects.classic figure:hover {
  box-shadow: none; }
#projects.classic figcaption {
  background-color: #c0c0c0;
  border-color: #FFFFFF #040507 #040507 #FFFFFF;
  color: #040507; }

#contact.classic #availability {
  background: #c0c0c0;
  border-color: #FFFFFF #040507 #040507 #FFFFFF;
  border-style: solid;
  color: #040507; }
#contact.classic #status, #contact.classic #status-for {
  font-family: "W95FA.otf", sans-serif; }
#contact.classic #green {
  background: #808080;
  border-radius: 0;
  margin: 1% 0 0 0; }
#contact.classic #green-fill, #contact.classic .switch-input:checked + .switch-label::before {
  background: #00e800; }
#contact.classic #green-fill {
  border-radius: 5%; }
#contact.classic .input-element {
  background: #FFFFFF;
  border: 2px inset #d5d5d5;
  box-shadow: -1px -1px 0 0 #828282;
  color: #424242; }
#contact.classic .button {
  background-color: #1a0076;
  border-style: outset;
  border-right-color: #282A29;
  border-bottom-color: #282A29; }
#contact.classic .button:hover {
  border: 2px inset #FFFFFF;
  background: silver;
  color: #282A29;
  box-shadow: -1px -1px #040507; }

#social.classic .social-media {
  background: none;
  border-top: 2px dashed #c0c0c0; }

@media (max-width: 767px) {
  #resume, #resume.classic {
    padding: 0; }

  nav, #navbar.classic {
    background: none;
    border-bottom: none; }

  nav > ul, #navbar.classic > ul {
    background: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50%;
    gap: 0;
    position: relative; }

  .nav-item {
    border: 1px solid #282A29;
    background: #0F1110;
    height: fit-content;
    padding-left: 12%;
    text-align: left; }

  #navbar.classic > ul > .nav-item {
    border: 1px solid #808080;
    background: #c0c0c0; }

  #smudge {
    background-color: #111111;
    clip-path: polygon(13% 0, 70% 0%, 100% 0, 100% 100%, 70% 100%, 0 100%, 0% 70%, 0 36%); }

  #smudge.classic {
    display: block;
    height: 100%;
    width: auto; }

  #site-name {
    padding-top: 25vh; }
    #site-name h1 {
      font-size: 2.3em;
      font-weight: 100;
      letter-spacing: 0.20rem;
      margin-bottom: 5px; }
    #site-name h2 {
      font-size: 1.05em;
      font-weight: 300;
      letter-spacing: .85rem;
      padding-left: .35rem; }

  #welcome-section, #welcome-section.classic {
    display: block !important;
    padding-top: 0; }

  .avatar, #welcome-section.classic > .avatar {
    padding: 2% 5% 7% 5%;
    position: relative; }

  .avatar > img, #welcome-section.classic > .avatar > img {
    margin: auto; }

  .avatar > #current-avatar {
    border: 0;
    border-bottom: 4px solid #B70E91;
    border-radius: 0;
    box-shadow: none;
    clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px); }

  .terminal {
    position: relative;
    width: auto; }

  .on-off, #welcome-section.classic > .avatar > .on-off {
    position: absolute;
    margin-left: 57%;
    height: auto;
    width: 40%; }

  #welcome-section.classic > .avatar {
    margin-top: 0; }

  #welcome-section.classic > .avatar > #pixel-avatar {
    border-bottom: 4px solid #1a0076;
    box-shadow: none; }

  .section-title, .input-label {
    font-size: 20px; }

  .input-element {
    font-size: 16px; }

  .section-text, .nav-item,
  #description.classic > .section-text,
  #skills.classic > .section-text,
  #experience.classic > .section-text,
  #projects.classic > .section-text,
  #contact.classic > .section-text,
  #social.classic > .section-text,
  .terminal span,
  .on-off-message,
  #experience, #projects,
  .xp-company, .xp-title, .xp-description,
  #status-for {
    font-size: 1rem; }

  #disclaimer {
    font-size: 0.8rem; }

  #experience > .section-title,
  #projects > .section-title {
    width: 100%; }

  #description.classic > .section-title,
  #skills.classic > .section-title,
  #experience.classic > .section-title,
  #projects.classic > .section-title,
  #contact.classic > .section-title,
  #social.classic > .section-title {
    width: auto; }

  .section-title {
    margin-top: 10%;
    width: 100%; }

  .section-text {
    text-align: initial; }

  #contact {
    width: initial; }

  .icon {
    margin: 1% 2% 1% 1%;
    height: 50px;
    width: 50px; }

  .arrow {
    height: 25px;
    width: 25px; }

  #xp-section {
    overflow-x: auto;
    transform: none; }

  table {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row: auto; }

  .xp-time {
    border-right: 1px solid #B70E91; }

  #experience > #xp-section > .xp-time {
    border-right: 1px solid #1a0076; }

  .xp-description {
    padding-left: 4%;
    text-align: initial; }

  #showcase {
    padding-bottom: 3%; }

  #gallery {
    grid-template-columns: repeat(3, 1fr);
    padding: 1% 1% 1% 1%; }

  .xp-company, .xp-time {
    font-size: 1rem; }

  #gallery figcaption {
    font-size: 0.8rem;
    margin-bottom: 5%; }

  #disclaimer {
    margin-top: 10%; }

  #availability {
    position: relative; }

  form {
    grid-template-columns: 35% 70%;
    margin: 5% 20% 15% 20%;
    width: 70%; }

  .button, #contact > .button {
    font-size: 1.3rem;
    width: 80%; }

  #social > .section-title {
    margin-top: 27%; }

  #social > .social-media > div > a {
    font-size: 1.7rem; } }
/********** Super EXTRA small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  #site-name.classic {
    padding-top: 30vh;
    position: relative; }

  #site-name {
    padding-top: 20vh;
    position: relative; }
    #site-name h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 5px;
      margin-left: .75rem;
      padding-top: 2rem; }
    #site-name h2 {
      font-size: 0.5rem;
      font-weight: 300;
      letter-spacing: .35rem;
      padding-left: .35rem; }

  #navbar {
    position: initial;
    width: fit-content; }

  #navbar > ul, #navbar.classic > ul {
    background: none;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 0;
    position: absolute;
    width: 100%;
    z-index: 2; }

  #navbar > ul {
    border-top: 2px solid #B70E91; }

  #navbar.classic > ul {
    border-top: 2px solid #1a0076;
    top: 0;
    left: 0; }

  .nav-item {
    padding: 1px 1px 1% 10%; }

  #navbar.classic > ul > .nav-item {
    border: 1px outset #808080;
    padding: 2% 1% 2% 10%; }

  #smudge {
    display: block; }

  #welcome-section, #welcome-section.classic {
    display: block;
    padding-top: 1%;
    position: relative; }

  .avatar, #welcome-section.classic > .avatar {
    padding: 5% 5% 7% 5%;
    position: relative;
    width: 90%; }

  .avatar > img, #welcome-section.classic > .avatar > img {
    height: 80%;
    width: 70%; }

  #resume, .terminal, #resume.classic {
    padding-left: 5%;
    padding-right: 5%;
    width: auto; }

  #resume, #resume.classic {
    margin: 5% 0 0 0; }

  #xp-section {
    transform: none; }

  #showcase {
    padding-bottom: 12%; }

  #gallery {
    grid-template-columns: repeat(2, 1fr); }

  #projects {
    display: block; }

  #disclaimer {
    font-size: 12px;
    text-align: right; }

  #availability {
    margin-left: 0;
    margin-right: 5%; }

  #status {
    padding-left: 5%; }

  #status, .button {
    font-size: 1.1rem; }

  #status-for {
    padding-left: 5%;
    text-align: initial; }

  #contact {
    margin-bottom: 40%; }

  form {
    grid-template-columns: 40% 87%;
    margin: 5% 10% 18% 5%; }

  .button {
    width: 80%; }

  #social {
    position: relative; }

  #social > .section-title {
    margin-top: 23%; }

  .social-media {
    font-size: 1.5rem; }

  #copyright, #year {
    font-size: 0.7rem; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /********** Tablet View **********/
  #navbar > ul, #navbar.classic > ul {
    grid-template-columns: 1% 15% 14% 17% 16% 15%;
    gap: 3%; }

  .nav-item, #sitename > h1 {
    font-size: 18px; }

  #welcome-section, #welcome-section.classic {
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 3%;
    padding-top: 0; }

  .avatar, #welcome-section.classic > .avatar {
    padding: 10% 5% 5% 5%; }

  #welcome-section.classic > .avatar {
    border-bottom: 4px solid #1a0076; }

  .on-off, #welcome.section.classic > .on-off {
    width: 40%; }

  span {
    font-size: 24px; }

  #site-name h1 {
    font-size: 3.2em;
    font-weight: 100;
    letter-spacing: 0.25rem;
    margin-top: auto;
    margin-bottom: 5px; }
  #site-name h2 {
    font-size: 1.05em;
    font-weight: 300;
    letter-spacing: .85rem;
    padding-left: .35rem; }

  .section-title {
    margin-top: 10%;
    width: 100%; }

  #description.classic > .section-title,
  #skills.classic > .section-title,
  #experience.classic > .section-title,
  #projects.classic > .section-title,
  #contact.classic > .section-title,
  #social.classic > .section-title {
    width: auto; }

  .project {
    height: auto; }

  #contact {
    margin-bottom: 25%;
    width: initial; }

  #availability {
    position: relative; }

  form {
    grid-template-columns: 25% 50%;
    margin: 5% 20% 5% 20%; }

  #year {
    font-size: 1rem; } }
/********** Desktop View **********/
@media (min-width: 1301px) {
  .avatar {
    padding-right: 5%; }

  .projects {
    grid-template-columns: repeat(3, 1fr);
    grid-row: repeat(1, 1fr); } }
@media (min-width: 992px) and (max-width: 1300px) {
  #navbar ul, #navbar.classic ul {
    grid-template-columns: 1% 19% 12% 19% 15% 10%;
    gap: 3%; }
  #navbar ul, #navbar .nav-item, #navbar .nav-item:hover, #navbar.classic ul, #navbar.classic .nav-item, #navbar.classic .nav-item:hover {
    width: 100%; }
  #navbar a, #navbar.classic a {
    font-size: 1.5rem; }

  #site-name {
    margin-top: 1%; }
    #site-name h1 {
      font-size: 1.7rem; }

  #welcome-section, #welcome-section.classic {
    grid-template-columns: 35% 60%;
    grid-template-rows: auto;
    padding-top: 0; }

  .avatar, #welcome-section.classic > .avatar {
    padding: 10% 5% 5% 5%; }

  .avatar > #current-avatar, .avatar > #pixel-avatar {
    border: none;
    border-radius: 0;
    box-shadow: none; }

  .avatar > #current-avatar {
    border-bottom: 4px solid #B70E91; }

  .avatar > #pixel-avatar {
    border-bottom: 4px solid #1a0076; }

  span {
    font-size: 24px; }

  .on-off {
    padding-top: 0;
    width: 30%; }

  .section-title,
  #description.classic > .section-title,
  #skills.classic > .section-title,
  #experience.classic > .section-title,
  #projects.classic > .section-title,
  #contact.classic > .section-title,
  #social.classic > .section-title {
    width: 100%; }

  #availability {
    position: relative; }

  form {
    grid-template-columns: 25% 50%;
    margin: 5% 20% 10% 20%; }

  #contact {
    margin-bottom: 15%;
    width: initial; }

  footer {
    margin-top: 5%; }

  #year {
    font-size: 1rem; } }
@media (min-width: 768px) {
  .terminal span, #experience .section-title, .button {
    font-size: 27px; }

  .input-label {
    font-size: 36px; }

  .input-element {
    font-size: 22px; }

  #social .section-title {
    margin-top: 8%; } }
/*** CITY SKYLINE ***/
#city-skyline, .background-buildings, .foreground-buildings {
  height: 300px;
  overflow: hidden;
  width: 85%; }

#city-skyline {
  margin: auto; }
  #city-skyline .sky {
    background: radial-gradient(closest-corner circle at 15% 15%, #ccc, #ccc 20%, #445 21%, #223 100%); }
  #city-skyline .foreground-buildings {
    border: 2px outset #808080; }
  #city-skyline #disclaimer {
    color: #FFFFFF; }

#city-skyline.classic {
  border: 2px dashed #FFFFFF; }
  #city-skyline.classic .sky {
    background: radial-gradient(circle closest-corner at 15% 15%, #fae653 0%, #f2de3b 20%, #f3e870 21%, #c5cddc 100%); }
  #city-skyline.classic #disclaimer {
    color: #0D0D0D; }

.background-buildings, .foreground-buildings {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  position: absolute; }

.building-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70%;
  width: 10%; }

.window-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

/**BACKGROUND BUILDINGS - "bb" stands for "background building"**/
.bb1-window {
  height: 10%; }

.bb1a {
  width: 70%; }

.bb1b {
  width: 80%; }

.bb1c {
  width: 90%; }

.bb1d {
  height: 70%;
  width: 100%; }

.bb2 {
  height: 50%;
  width: 10%; }

.bb2a {
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent; }

.bb2b {
  height: 100%;
  width: 100%; }

.bb3 {
  height: 55%;
  width: 10%; }

.bb4 {
  height: 58%;
  width: 11%; }

.bb4a {
  height: 10%;
  width: 3%; }

.bb4b {
  height: 5%;
  width: 80%; }

.bb4c {
  height: 85%;
  width: 100%; }

.bb4-window {
  height: 90%;
  width: 18%; }

#city-skyline .bb1-window {
  background: linear-gradient(#000, #000); }
#city-skyline .bb1d {
  background: linear-gradient(#000 50%, #000); }
#city-skyline .bb2a {
  border-bottom: 5vh solid #000; }
#city-skyline .bb2b {
  background: repeating-linear-gradient(#000 0, #000 6%, #777 6%, #777 9%); }
#city-skyline .bb3 {
  background: repeating-linear-gradient(90deg, #000, #000, #777 15%); }
#city-skyline .bb4a, #city-skyline .bb4b, #city-skyline .bb4c {
  background-color: #000; }
#city-skyline .bb4-window {
  background-color: #777; }

#city-skyline.classic .bb1-window {
  background: linear-gradient(#7c7da3, #5dac8b); }
#city-skyline.classic .bb1d {
  background: linear-gradient(#7c7da3 50%, #5dac8b); }
#city-skyline.classic .bb2a {
  border-bottom: 5vh solid #5dac8b; }
#city-skyline.classic .bb2b {
  background: repeating-linear-gradient(#5dac8b 0, #5dac8b 6%, #78dfb4 6%, #78dfb4 9%); }
#city-skyline.classic .bb3 {
  background: repeating-linear-gradient(90deg, #d07f88, #d07f88, #e7abb7 15%); }
#city-skyline.classic .bb4a, #city-skyline.classic .bb4b, #city-skyline.classic .bb4c {
  background-color: #61a3ea; }
#city-skyline.classic .bb4-window {
  background-color: #7db5ef; }

/**FOREGROUND BUILDINGS - "fb" stands for "foreground building"**/
.fb1 {
  height: 60%;
  width: 10%; }

.fb1a {
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent; }

.fb1b {
  height: 10%;
  width: 60%; }

.fb1c {
  height: 80%;
  width: 100%; }

.fb2 {
  height: 40%;
  width: 10%; }

.fb2-window {
  height: 100%;
  width: 22%; }

.fb2a {
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  width: 100%; }

.fb2b {
  height: 75%;
  width: 100%; }

.fb3 {
  height: 46%;
  width: 10%; }

.fb3-window {
  height: 80%;
  width: 25%; }

.fb3a {
  height: 15%;
  width: 80%; }

.fb3b {
  height: 35%;
  width: 100%; }

.fb4 {
  display: flex;
  flex-wrap: wrap;
  height: 45%;
  position: relative;
  left: 10%;
  width: 8%; }

.fb4-window {
  border-radius: 50%;
  height: 10%;
  margin: 10%;
  width: 30%; }

.fb4a {
  border-top: 5vh solid transparent; }

.fb4b {
  height: 89%;
  width: 100%; }

.fb5 {
  height: 33%;
  position: relative;
  right: 10%;
  width: 10%; }

.fb6 {
  height: 38%;
  width: 9%; }

#city-skyline .fb1a {
  border-bottom: 7vh solid #000; }
#city-skyline .fb1b, #city-skyline .fb2b, #city-skyline .fb3a, #city-skyline .fb3b, #city-skyline .fb4b {
  background-color: #000; }
#city-skyline .fb2a {
  border-bottom: 10vh solid #000; }
#city-skyline .fb1c {
  background: repeating-linear-gradient(90deg, #000 0, #000 10%, transparent 10%, transparent 15%), repeating-linear-gradient(#000 0, #000 10%, #777 10%, #777 90%); }
#city-skyline .fb2-window, #city-skyline .fb3-window, #city-skyline .fb4-window {
  background-color: #777; }
#city-skyline .fb4a {
  border-left: 8vw solid #000; }
#city-skyline .fb5 {
  background: repeating-linear-gradient(#000 0, #000 5%, transparent 5%, transparent 10%), repeating-linear-gradient(90deg, #000 0, #000 12%, #777 12%, #777 44%); }
#city-skyline .fb6 {
  background: repeating-linear-gradient(90deg, #000 0, #000 10%, transparent 10%, transparent 30%), repeating-linear-gradient(#000 0, #000 10%, #777 10%, #777 30%); }

#city-skyline.classic .fb1a {
  border-bottom: 7vh solid #61a3ea; }
#city-skyline.classic .fb1b {
  background-color: #61a3ea; }
#city-skyline.classic .fb1c {
  background: repeating-linear-gradient(90deg, #61a3ea 0, #61a3ea 10%, transparent 10%, transparent 15%), repeating-linear-gradient(#61a3ea 0, #61a3ea 10%, #7db5ef 10%, #7db5ef 90%); }
#city-skyline.classic .fb2-window {
  background-color: #e7abb7; }
#city-skyline.classic .fb2a {
  border-bottom: 10vh solid #d07f88; }
#city-skyline.classic .fb2b {
  background-color: #d07f88; }
#city-skyline.classic .fb3-window {
  background-color: #5dac8b; }
#city-skyline.classic .fb3a {
  background-color: #7c7da3; }
#city-skyline.classic .fb3b {
  background-color: #7c7da3; }
#city-skyline.classic .fb4-window {
  background-color: #5dac8b; }
#city-skyline.classic .fb4a {
  border-left: 8vw solid #7c7da3; }
#city-skyline.classic .fb4b {
  background-color: #7c7da3; }
#city-skyline.classic .fb5 {
  background: repeating-linear-gradient(#5dac8b 0, #5dac8b 5%, transparent 5%, transparent 10%), repeating-linear-gradient(90deg, #5dac8b 0, #5dac8b 12%, #78dfb4 12%, #78dfb4 44%); }
#city-skyline.classic .fb6 {
  background: repeating-linear-gradient(90deg, #d07f88 0, #d07f88 10%, transparent 10%, transparent 30%), repeating-linear-gradient(#d07f88 0, #d07f88 10%, #e7abb7 10%, #e7abb7 30%); }

/*@media(max-width: 1700px) {
    #city-skyline, .background-buildings, .foreground-buildings {
        width: 100%;
    }
}*/
@media (max-width: 479px) {
  #city-skyline, .background-buildings, .foreground-buildings {
    width: 90%; } }

/*# sourceMappingURL=styles.css.map */
