/********** BASE STYLE **********/
@font-face {
  font-family: "W95FA";
  src: url("../fonts/W95FA.otf") format("opentype");
}
@font-face {
  font-family: "Primus-Demo";
  src: url("../css/fonts/Primus-Demo.otf") format("opentype");
}
:root {
  --neon-pink: #b70e91;
  --neon-teal: #14c1c1;
  --black-shadow: #161a1d;
  --black: #040507;
  --smoky-black: #0d0d0d;
  --dark-border: #282a29;
  --gray: #808080;
  --silver: #c0c0c0;
  --white: #ffffff;
  --teal: #2d7776;
  --classic-blue: #1a0076;
  /*Skyline Base Colours*/
  --building-color1: #7c7da3;
  --building-color2: #5dac8b;
  --building-color3: #d07f88;
  --building-color4: #61a3ea;
  --window-color1: #aca1f3;
  --window-color2: #78dfb4;
  --window-color3: #e7abb7;
  --window-color4: #7db5ef;
}
* {
  box-sizing: border-box;
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
body.classic {
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

nav ul {
  display: grid;
  grid-template-columns: 12% 17% 12% 17% 17% 15%;
  grid-template-rows: auto;
  column-gap: 1%;
  padding-left: 0;
}
.nav-item {
  cursor: pointer;
  font-size: 27px;
  letter-spacing: 0.2rem;
  list-style: none;
  justify-content: center;
  padding: 20px;
}
.nav-item:hover {
  clip-path: polygon(100% 0, 100% 70%, 90% 100%, 0 100%, 0 0);
}
.nav-item a {
  text-decoration: none;
}

#site-name {
  color: var(--white);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5.3% 0 4% 0;
  white-space: nowrap;
  width: 100%;
}
#site-name h1 {
  font-size: 3.5em;
  font-weight: 100;
  letter-spacing: 1.25rem;
  margin-bottom: 5px;
}
#site-name h2 {
  font-size: 1.05em;
  font-weight: 300;
  letter-spacing: 0.85rem;
  padding-left: 0.35rem;
}

#welcome-section {
  display: grid;
  grid-template-columns: 25% 70%;
  grid-template-rows: auto;
  gap: 0.1%;
  margin: 2% 2% 2% 0;
  padding: 3% 1% 3% 1%;
  width: 100%;
}
.avatar {
  grid-column-start: 1;
  padding-left: 17%;
}
.avatar img {
  height: 300px;
  width: 300px;
}

.terminal {
  background: #020303;
  border: 5px ridge var(--dark-border);
  border-left: 2px ridge var(--white);
  -webkit-box-shadow: 0 0 78px 4px var(--black-shadow);
  box-shadow: 0 0 78px 4px var(--black-shadow);
  color: var(--white);
  grid-column-start: 2;
  padding: 3% 1% 1% 5%;
}
.terminal span {
  color: var(--white);
  font-family: "Jura", monospace;
}
.on-off {
  background: #020303;
  border: groove var(--dark-border);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 3px var(--smoky-black);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  grid-column-start: 2;
  justify-self: right;
  height: 90%;
  width: 10%;
}
.on-off-message {
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 0.5rem var(--neon-teal), 0 0 0.5rem #189494,
    0 0 0.5rem #134848;
  color: var(--white);
  display: none;
  margin-right: 1%;
  padding: 0.5%;
  position: absolute;
}
.on-off:hover #nostalgic {
  display: block;
}
.on-off:hover #in-the-moment {
  display: none;
}
.switch {
  display: inline-block;
  position: relative;
}
.switch-input {
  display: none;
}
.switch-label {
  display: block;
  clip: rect(0 0 0 0);
  color: transparent;
  height: 24px;
  text-indent: -150%;
  user-select: none;
  width: 48px;
}
.switch-label::after,
.switch-label::before {
  content: "";
  cursor: pointer;
  display: block;
  position: absolute;
}
.switch-label::before {
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  height: 100%;
  width: 100%;
}
.switch-label::after {
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
}
.switch-input:checked + .switch-label::before {
  background-color: #3c8c04;
}
.switch-input:checked + .switch-label::after {
  left: 24px;
}

.blinker {
  animation: blinker 0.9s steps(2, start) infinite;
  border-left: 7px solid var(--white);
  height: 15px;
  margin-left: -2px;
  margin-bottom: -2px;
  opacity: 1;
}
@keyframes blinker {
  to {
    visibility: hidden;
  }
}

#resume {
  display: grid;
  grid-template-columns: 100%;
  margin: 0 7% 0 7%;
  padding: 0 4px 4px 4px;
}
.arrow {
  display: inline-block;
  height: 30px;
  width: 30px;
}
.section-title {
  color: var(--white);
  font-size: 36px;
  letter-spacing: 0.27rem;
  margin-top: 3%;
  padding: 7px 7px 7px 1%;
  width: 27%;
}
.section-title:hover {
  background-color: var(--white);
  box-shadow: 0 0 0.5rem var(--neon-teal), 0 0 0.5rem #189494,
    0 0 0.5rem #134848;
  color: var(--black);
  letter-spacing: 0.08em;
}
.section-text,
.section-title {
  background-color: var(--smoky-black);
  border: 2px solid var(--dark-border);
}
.section-text {
  color: var(--white);
  font-size: 25px;
  line-height: 1.4;
  padding: 3%;
  text-align: justify;
}
.section-title:hover + .section-text {
  background-color: var(--black);
  box-shadow: 0 0 0.5rem var(--neon-teal), 0 0 0.5rem #189494,
    0 0 0.5rem #134848;
}

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
}
.icon {
  margin: 1% 2% 1% 1%;
  object-fit: cover;
  height: 100px;
  width: 100px;
}

.xp {
  font-size: 25px;
  padding: 2% 2% 2% 3%;
  transform: perspective(800px) scale(0.95) translateX(10px);
}
#experience.classic > .section-title,
#experience > .section-title,
#projects.classic > .section-title,
#projects > .section-title {
  width: 60%;
}
#experience .section-title {
  border: none;
  background-color: transparent;
  color: var(--white);
  margin-top: 0;
}
.xp-company,
.xp-time {
  display: inline-block;
  font-size: 22px;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.xp-time {
  font-size: 19px;
}
.xp-description,
.xp-title {
  padding: 0 1% 1% 1%;
  width: 78%;
}
.xp-title {
  text-align: center;
}
.xp-description {
  font-style: italic;
  font-size: 19px;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 2%;
  row-gap: 3%;
  padding: 0;
}
#projects > .section-text {
  padding-bottom: 4%;
}
#gallery figure {
  opacity: 50%;
  display: table;
}
#gallery figcaption {
  display: table-caption;
  caption-side: top;
  text-align: center;
  font-size: 17px;
  padding: 5px;
  max-height: 100%;
}

.project {
  opacity: 90%;
  padding: 0;
}
#gallery > figure,
#gallery > figure > figcaption {
  width: 100%;
}
#disclaimer {
  font-size: 1rem;
  font-style: italic;
  margin-top: 1%;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 30px;
  width: 80%;
  text-align: right;
}

#availability {
  display: block;
  position: absolute;
  margin: 5% 1% 1% 1%;
  padding: 1%;
  line-height: 1.4;
}
#green {
  background: linear-gradient(top, #535350 0, #6a6b68 40%, #2c2e2b 100%);
  background: -webkit-linear-gradient(
    top,
    #535350 0,
    #6a6b68 40%,
    #2c2e2b 100%
  );
  background: -moz-linear-gradient(top, #535350 0, #6a6b68 40%, #2c2e2b 100%);
  background: -o-linear-gradient(top, #535350 0, #6a6b68 40%, #2c2e2b 100%);
  background: -ms-linear-gradient(top, #535350 0, #6a6b68 40%, #2c2e2b 100%);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  box-shadow: inset 0 1px 1px var(--white), 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 1px var(--white), 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 1px var(--white), 0 1px 3px rgba(0, 0, 0, 0.5);
  float: right;
  margin: 1% 15% 0 0;
  height: 28px;
  width: 28px;
}
#green-fill {
  background: linear-gradient(top, #222 0, #7cb82e 100%);
  background: -webkit-linear-gradient(top, #222 0, #7cb82e 100%);
  background: -moz-linear-gradient(top, #222 0, #7cb82e 100%);
  background: -o-linear-gradient(top, #222 0, #7cb82e 100%);
  background: -ms-linear-gradient(top, #222 0, #7cb82e 100%);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  left: 4px;
  top: 4px;
  margin: 7% 5% 10% 5%;
  height: 23px;
  width: 25px;
}
#status {
  font-size: 27px;
  letter-spacing: 0.1rem;
}
#status-for {
  font-size: 22px;
}
#contact {
  margin: 3% 7% 0 7%;
  position: relative;
}

form {
  display: grid;
  align-items: center;
  grid-template-columns: 5% 50%;
  grid-row-gap: 15%;
  margin: 5% 30% 18% 30%;
  position: relative;
  width: 100%;
}
form .input-label {
  grid-column-start: 1;
  color: var(--white);
  padding-left: 17%;
}
form .input-element {
  grid-column-start: 2;
  height: 46px;
  margin-left: 10%;
  padding-left: 10px;
}
form #message {
  grid-column-start: span 2;
  grid-row-start: span 2;
  height: 120%;
  margin: 0;
  padding-top: 1%;
}
form .nospam {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
form .button {
  cursor: pointer;
  color: var(--white);
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
  margin: 0 25% 1% 25%;
  padding: 0 20px;
}

#social {
  border: none;
  margin: 0 7% 1% 7%;
  position: relative;
}
.social-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 3% 0 3% 0;
  position: relative;
  width: 100%;
}
.social-media a {
  text-decoration: none;
  color: var(--white);
}

footer {
  bottom: 0;
  height: 35px;
  line-height: 20px;
  padding: 0 10px 20px 10px;
  position: relative;
  text-align: center;
  width: 100%;
}

/********** CITY SKYLINE **********/
#city-skyline {
  margin: auto;
}
#city-skyline.classic {
  border: 2px dashed var(--white);
}

#city-skyline,
.background-buildings,
.foreground-buildings {
  height: 300px;
  overflow: hidden;
  width: 85%;
}
#city-skyline .foreground-buildings {
  border: 2px outset var(--gray);
}
#city-skyline .sky {
  background: radial-gradient(
    closest-corner circle at 15% 15%,
    #ccc,
    #ccc 20%,
    #445 21%,
    #223 100%
  );
}
#city-skyline.classic .sky {
  background: radial-gradient(
    circle closest-corner at 15% 15%,
    #fae653 0,
    #f2de3b 20%,
    #f3e870 21%,
    #c5cddc 100%
  );
}
#city-skyline #disclaimer {
  color: var(--white);
}
#city-skyline.classic #disclaimer {
  color: var(--smoky-black);
}

.background-buildings,
.foreground-buildings {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  position: absolute;
}
.building-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70%;
  width: 10%;
}
.window-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bb1-window {
  height: 10%;
}
.bb1a {
  width: 70%;
}
.bb1b {
  width: 80%;
}
.bb1c {
  width: 90%;
}
.bb1d {
  height: 70%;
  width: 100%;
}

.bb2 {
  height: 50%;
  width: 10%;
}
.bb2a {
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent;
}
.bb2b {
  height: 100%;
  width: 100%;
}
.bb3 {
  height: 55%;
  width: 10%;
}
.bb4 {
  height: 58%;
  width: 11%;
}
.bb4a {
  height: 10%;
  width: 3%;
}
.bb4b {
  height: 5%;
  width: 80%;
}
.bb4c {
  height: 85%;
  width: 100%;
}
.bb4-window {
  height: 90%;
  width: 18%;
}

#city-skyline .bb1-window {
  background: linear-gradient(var(--black), var(--black));
}
#city-skyline .bb1d {
  background: linear-gradient(var(--black) 50%, var(--black));
}
#city-skyline .bb2a {
  border-bottom: 5vh solid var(--black);
}
#city-skyline .bb2b {
  background: repeating-linear-gradient(
    var(--black) 0,
    var(--black) 6%,
    #777 6%,
    #777 9%
  );
}
#city-skyline .bb3 {
  background: repeating-linear-gradient(
    90deg,
    var(--black),
    var(--black),
    #777 15%
  );
}
#city-skyline .bb4a,
#city-skyline .bb4b,
#city-skyline .bb4c {
  background-color: var(--black);
}
#city-skyline .bb4-window {
  background-color: #777;
}

#city-skyline.classic .bb1-window {
  background: linear-gradient(#7c7da3, var(--building-color2));
}
#city-skyline.classic .bb1d {
  background: linear-gradient(#7c7da3 50%, var(--building-color2));
}
#city-skyline.classic .bb2a {
  border-bottom: 5vh solid var(--building-color2);
}
#city-skyline.classic .bb2b {
  background: repeating-linear-gradient(
    var(--building-color2) 0,
    var(--building-color2) 6%,
    var(--window-color2) 6%,
    var(--window-color2) 9%
  );
}
#city-skyline.classic .bb3 {
  background: repeating-linear-gradient(
    90deg,
    var(--building-color3),
    var(--building-color3),
    var(--window-color3) 15%
  );
}
#city-skyline.classic .bb4a,
#city-skyline.classic .bb4b,
#city-skyline.classic .bb4c {
  background-color: var(--building-color4);
}
#city-skyline.classic .bb4-window {
  background-color: var(--window-color4);
}

.fb4 {
  display: flex;
  flex-wrap: wrap;
  height: 45%;
  position: relative;
  left: 10%;
  width: 8%;
}
.fb4-window {
  border-radius: 50%;
  height: 10%;
  margin: 10%;
  width: 30%;
}
.fb4a {
  border-top: 5vh solid transparent;
}
.fb4b {
  height: 89%;
  width: 100%;
}
.fb5 {
  height: 33%;
  position: relative;
  right: 10%;
  width: 10%;
}
.fb1 {
  height: 60%;
  width: 10%;
}
.fb1a {
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
}
.fb1b {
  height: 10%;
  width: 60%;
}
.fb1c {
  height: 80%;
  width: 100%;
}
.fb2 {
  height: 40%;
  width: 10%;
}
.fb2-window {
  height: 100%;
  width: 22%;
}
.fb2a {
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  width: 100%;
}
.fb2b {
  height: 75%;
  width: 100%;
}
.fb3 {
  height: 46%;
  width: 10%;
}
.fb3-window {
  height: 80%;
  width: 25%;
}
.fb3a {
  height: 15%;
  width: 80%;
}
.fb3b {
  height: 35%;
  width: 100%;
}
.fb6 {
  height: 38%;
  width: 9%;
}

#city-skyline .fb1a {
  border-bottom: 7vh solid var(--black);
}
#city-skyline .fb1b,
#city-skyline .fb2b,
#city-skyline .fb3a,
#city-skyline .fb3b,
#city-skyline .fb4b {
  background-color: var(--black);
}
#city-skyline .fb2a {
  border-bottom: 10vh solid var(--black);
}
#city-skyline .fb1c {
  background: repeating-linear-gradient(
      90deg,
      var(--black) 0,
      var(--black) 10%,
      transparent 10%,
      transparent 15%
    ),
    repeating-linear-gradient(
      var(--black) 0,
      var(--black) 10%,
      #777 10%,
      #777 90%
    );
}
#city-skyline .fb2-window,
#city-skyline .fb3-window,
#city-skyline .fb4-window {
  background-color: #777;
}
#city-skyline .fb4a {
  border-left: 8vw solid var(--black);
}
#city-skyline .fb5 {
  background: repeating-linear-gradient(
      var(--black) 0,
      var(--black) 5%,
      transparent 5%,
      transparent 10%
    ),
    repeating-linear-gradient(
      90deg,
      var(--black) 0,
      var(--black) 12%,
      #777 12%,
      #777 44%
    );
}
#city-skyline .fb6 {
  background: repeating-linear-gradient(
      90deg,
      var(--black) 0,
      var(--black) 10%,
      transparent 10%,
      transparent 30%
    ),
    repeating-linear-gradient(
      var(--black) 0,
      var(--black) 10%,
      #777 10%,
      #777 30%
    );
}

#city-skyline.classic .fb1a {
  border-bottom: 7vh solid var(--building-color4);
}
#city-skyline.classic .fb1b {
  background-color: var(--building-color4);
}
#city-skyline.classic .fb1c {
  background: repeating-linear-gradient(
      90deg,
      var(--building-color4) 0,
      var(--building-color4) 10%,
      transparent 10%,
      transparent 15%
    ),
    repeating-linear-gradient(
      var(--building-color4) 0,
      var(--building-color4) 10%,
      var(--window-color4) 10%,
      var(--window-color4) 90%
    );
}
#city-skyline.classic .fb2-window {
  background-color: var(--window-color3);
}
#city-skyline.classic .fb2a {
  border-bottom: 10vh solid var(--building-color3);
}
#city-skyline.classic .fb2b {
  background-color: var(--building-color3);
}
#city-skyline.classic .fb3-window {
  background-color: var(--building-color2);
}
#city-skyline.classic .fb3a {
  background-color: #7c7da3;
}
#city-skyline.classic .fb3b {
  background-color: #7c7da3;
}
#city-skyline.classic .fb4-window {
  background-color: var(--building-color2);
}
#city-skyline.classic .fb4a {
  border-left: 8vw solid #7c7da3;
}
#city-skyline.classic .fb4b {
  background-color: #7c7da3;
}
#city-skyline.classic .fb5 {
  background: repeating-linear-gradient(
      var(--building-color2) 0,
      var(--building-color2) 5%,
      transparent 5%,
      transparent 10%
    ),
    repeating-linear-gradient(
      90deg,
      var(--building-color2) 0,
      var(--building-color2) 12%,
      var(--window-color2) 12%,
      var(--window-color2) 44%
    );
}
#city-skyline.classic .fb6 {
  background: repeating-linear-gradient(
      90deg,
      var(--building-color3) 0,
      var(--building-color3) 10%,
      transparent 10%,
      transparent 30%
    ),
    repeating-linear-gradient(
      var(--building-color3) 0,
      var(--building-color3) 10%,
      var(--window-color3) 10%,
      var(--window-color3) 30%
    );
}
/********** MEDIA QUERIES **********/

/******** DESKTOP ********/
@media(min-width: 1302px) and (max-width: 1700px) {
  #availability {
    height: 200px;
    width: 250px;
  }
}
@media (min-width: 1301px) {
  .avatar {
    padding-right: 5%;
  }
  .projects {
    grid-template-columns: repeat(4, 1fr);
    grid-row: repeat(1, 1fr);
  }
  .project {
    height: 300px;
    width: 100%;
  }
  #old-avatar > img {
    height: 146px;
    width: 146px;
  }
  #social .section-title {
    margin-top: 1%;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  #navbar ul,
  #navbar.classic ul {
    grid-template-columns: 1% 19% 12% 19% 15% 10%;
    gap: 3%;
  }
  #navbar .nav-item,
  #navbar .nav-item:hover,
  #navbar ul,
  #navbar.classic .nav-item,
  #navbar.classic .nav-item:hover,
  #navbar.classic ul {
    width: 100%;
  }
  #navbar a,
  #navbar.classic a {
    font-size: 1.5rem;
  }
  #site-name {
    margin-top: 1%;
  }
  #site-name h1 {
    font-size: 1.7rem;
  }
  #welcome-section,
  #welcome-section.classic {
    grid-template-columns: 35% 60%;
    grid-template-rows: auto;
    padding-top: 0;
  }
  #welcome-section.classic > .avatar,
  .avatar {
    padding: 10% 5% 5% 5%;
  }
  .avatar > #current-avatar,
  .avatar > #pixel-avatar {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .avatar > #current-avatar {
    border-bottom: 4px solid var(--neon-pink);
  }
  .avatar > #pixel-avatar {
    border-bottom: 4px solid var(--classic-blue);
  }
  span {
    font-size: 24px;
  }
  .on-off {
    padding-top: 0;
    width: 30%;
  }
  #contact.classic > .section-title,
  #description.classic > .section-title,
  #experience.classic > .section-title,
  #projects.classic > .section-title,
  #skills.classic > .section-title,
  #social.classic > .section-title,
  .section-title {
    width: 100%;
  }
  .project {
    height: 200px;
    width: 100%;
  }
  #old-avatar > img {
    height: 80px;
    width: 80px;
  }  
  #availability {
    position: relative;
  }
  form {
    grid-template-columns: 25% 50%;
    margin: 5% 20% 10% 20%;
  }
  #contact {
    margin-bottom: 15%;
    width: initial;
  }
  #social .section-title {
    margin-top: 5% !important;
  }
  footer {
    margin-top: 3%;
  }
  #year {
    font-size: 1rem;
  }
}

/******** TABLET ********/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #navbar.classic > ul,
  #navbar > ul {
    grid-template-columns: 1% 15% 14% 17% 16% 15%;
    gap: 3%;
  }
  .nav-item {
    font-size: 18px;
  }
  #welcome-section,
  #welcome-section.classic {
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 3%;
    padding-top: 0;
  }
  #welcome-section.classic > .avatar,
  .avatar {
    padding: 10% 5% 5% 5%;
  }
  .avatar img {
    height: 250px;
    width: 270px; 
  }
  #welcome-section.classic > .avatar {
    border-bottom: 4px solid var(--classic-blue);
  }
  #welcome.section.classic > .on-off,
  .on-off {
    width: 40%;
  }
  span {
    font-size: 24px;
  }
  #site-name {
    padding-top: 7vh;
  }
  #site-name h1 {
    font-size: 3.2em;
    font-weight: 100;
    letter-spacing: 0.25rem;
    margin-top: auto;
    margin-bottom: 5px;
  }
  #site-name h2 {
    font-size: 1.05em;
    font-weight: 300;
    letter-spacing: 0.85rem;
    padding-left: 0.35rem;
  }
  .section-title {
    margin-top: 10%;
    width: 100% !important;
  }
  #gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  #projects > .section-text {
    padding-bottom: 10%;
  }
  .project {
    height: 160px;
    width: 100%;
  }
  #old-avatar > img {
    height: 70px;
    width: 70px;
  }
  #contact {
    margin-bottom: 25%;
    width: initial;
  }
  #availability {
    position: relative;
  }
  form {
    grid-template-columns: 25% 50%;
    margin: 5% 20% 5% 20%;
  }
  #social .section-title {
    margin-top: 5%;
  }
  #year {
    font-size: 1rem;
  }
}
@media (min-width: 767px) {
  #experience .section-title,
  .button,
  .terminal span {
    font-size: 27px;
  }
  .input-label {
    font-size: 36px;
  }
  .input-element {
    font-size: 22px;
  }
  #social .section-title {
    margin-top: 10%;
  }
}
@media (max-width: 767px) {
  #navbar.classic,
  nav {
    background: 0 0;
    border-bottom: none;
  }
  #navbar.classic > ul,
  nav > ul {
    background: 0 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50%;
    gap: 0;
    position: relative;
  }
  .nav-item {
    border: 1px solid var(--dark-border);
    background: #0f1110;
    height: fit-content;
    padding-left: 12%;
    text-align: left;
  }
  #navbar.classic > ul > .nav-item {
    border: none;
    background: var(--silver);
  }
  #smudge {
    background-color: #111;
    clip-path: polygon(
      13% 0,
      70% 0,
      100% 0,
      100% 100%,
      70% 100%,
      0 100%,
      0 70%,
      0 36%
    );
  }
  #smudge.classic {
    display: block;
    height: 100%;
    width: auto;
  }
  #resume {
    padding: 0;
  }
  #site-name {
    padding-top: 6vh;
  }
  #site-name h1 {
    font-size: 2.3em;
    font-weight: 100;
    letter-spacing: 0.2rem;
    margin-bottom: 5px;
  }
  #site-name h2 {
    font-size: 1.05em;
    font-weight: 300;
    letter-spacing: 0.85rem;
    padding-left: 0.35rem;
  }
  #welcome-section,
  #welcome-section.classic {
    display: block !important;
    padding-top: 0;
  }
  #welcome-section.classic > .avatar,
  .avatar {
    padding: 2% 5% 7% 5%;
    position: relative;
  }
  #welcome-section.classic > .avatar > img,
  .avatar > img {
    margin: auto;
  }
  .avatar > #current-avatar {
    border: 0;
    border-bottom: 4px solid var(--neon-pink);
    border-radius: 0;
    box-shadow: none;
    clip-path: polygon(
      20px 0,
      100% 0,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%,
      0 20px
    );
  }
  #welcome-section.classic > .avatar {
    margin-top: 0;
  }
  #welcome-section.classic > .avatar > #pixel-avatar {
    border-bottom: 4px solid var(--classic-blue);
    box-shadow: none;
  }
  .terminal {
    position: relative;
    width: auto;
  }
  #welcome-section.classic > .avatar > .on-off,
  .on-off {
    position: absolute;
    margin-left: 57%;
    height: auto;
    width: 40%;
  }
  .input-label,
  .section-title {
    font-size: 20px;
  }
  .input-element {
    font-size: 16px;
  }
  .arrow {
    height: 25px;
    width: 25px;
  }
  .section-title {
    margin-top: 10%;
    width: 100% !important;
  }
  .section-text {
    text-align: initial;
  }
  #contact.classic > .section-title,
  #description.classic > .section-title,
  #experience.classic > .section-title,
  #projects.classic > .section-title,
  #skills.classic > .section-title,
  #social.classic > .section-title {
    width: auto;
  }
  #contact.classic > .section-text,
  #description.classic > .section-text,
  #experience,
  #experience.classic > .section-text,
  #projects,
  #projects.classic > .section-text,
  #skills.classic > .section-text,
  #social.classic > .section-text,
  #status-for,
  .nav-item,
  .on-off-message,
  .section-text,
  .terminal span,
  .xp-company,
  .xp-description,
  .xp-title {
    font-size: 1rem !important;
  }
  .icon {
    margin: 1% 2% 1% 1%;
    height: 50px;
    width: 50px;
  }
  #xp-section {
    overflow-x: auto;
    transform: none;
  }
  table {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row: auto;
  }
  .xp-time {
    border-right: 1px solid var(--neon-pink);
  }
  #experience > #xp-section > .xp-time {
    border-right: 1px solid var(--classic-blue);
  }
  .xp-company,
  .xp-time {
    font-size: 1rem;
  }
  .xp-description {
    padding-left: 4%;
    text-align: initial;
  }
  #experience > .section-title,
  #projects > .section-title {
    width: 100%;
  }
  #gallery {
    grid-template-columns: repeat(3, 1fr);
    padding: 1% 1% 1% 1%;
  }
  #projects > .section-text {
    padding-bottom: 10%;
  }
  .project {
    height: 130px;
    width: 100%;
  }
  #old-avatar > .project {
    height: 70px;
    width: 70px;
  }
  #gallery figcaption {
    font-size: 0.8rem;
    margin-bottom: 5%;
  }
  #disclaimer {
    font-size: 0.8rem;
    margin-top: 10%;
  }
  #contact {
    width: initial;
  }
  #availability {
    position: relative;
  }
  form {
    grid-template-columns: 35% 70%;
    margin: 5% 20% 15% 20%;
    width: 70%;
  }
  #contact > .button,
  .button {
    font-size: 1.3rem;
    width: 80%;
  }
  #social > .section-title {
    margin-top: 27%;
  }
  #social > .social-media > div > a {
    font-size: 1.7rem;
  }
}
/******** MOBILE ********/
@media (max-width: 479px) {
  #site-name, #site-name.classic {
    padding-top: 35%;
  }
  #site-name h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 5px;
    margin-left: 0.75rem;
    padding-top: 2rem;
  }
  #site-name h2 {
    font-size: 0.5rem;
    font-weight: 300;
    letter-spacing: 0.35rem;
    padding-left: 0.35rem;
  }
  #navbar {
    position: initial;
    width: fit-content;
  }
  #navbar.classic > ul, #navbar > ul {
    background: 0 0;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: auto;
    gap: 0 !important;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  #navbar > ul {
    border-top: 2px solid var(--neon-pink);
  }
  #navbar.classic > ul {
    border-top: 2px solid var(--classic-blue);
    top: 0;
    left: 0;
  }
  .nav-item {
    padding: 1px 1px 1% 10%;
  }
  #navbar.classic > ul > .nav-item {
    border: 1px outset var(--gray);
    padding: 2% 0% 0% 10%;
  }
  #smudge {
    display: block;
  }
  #welcome-section,
  #welcome-section.classic {
    display: block;
    padding-top: 1%;
    position: relative;
  }
  #welcome-section.classic > .avatar,
  .avatar {
    padding: 5% 5% 7% 5%;
    position: relative;
    width: 90%;
  }
  #welcome-section.classic > .avatar > img,
  .avatar > img {
    height: 80%;
    width: 70%;
  }
  #resume,
  #resume.classic,
  .terminal {
    padding-left: 5%;
    padding-right: 5%;
    width: auto;
  }
  #resume,
  #resume.classic {
    margin: 5% 0 0 0;
  }
  #experience .section-title {
    margin-top: 3%;
  }
  #xp-section {
    transform: none;
  }
  #gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  #projects {
    display: block;
  }
  #projects > .section-text {
    padding-bottom: 25% !important;
  }
  #gallery > figure {
    height: 100%;
    width: 100%;
  }
  .project {
    height: 150px;
  }
  #old-avatar > .project {
    height: 50px;
    width: 50px;
  }
  #city-skyline,
  .background-buildings,
  .foreground-buildings {
    width: 90%;
  }
  #disclaimer {
    font-size: 12px;
    text-align: right;
  }
  #availability {
    margin-left: 0;
    margin-right: 5%;
  }
  #status {
    padding-left: 5%;
  }
  #status,
  .button {
    font-size: 1.1rem;
  }
  #status-for {
    padding-left: 5%;
    text-align: initial;
  }
  #contact {
    margin-bottom: 40%;
  }
  form {
    grid-template-columns: 40% 87%;
    margin: 5% 10% 18% 5%;
  }
  .button {
    width: 80%;
  }
  #social {
    position: relative;
  }
  #social > .section-title {
    margin-top: 20%;
  }
  .social-media {
    font-size: 1.5rem;
  }
  #copyright,
  #year {
    font-size: 0.7rem;
  }
}