/*** CITY SKYLINE ***/
#city-skyline, .background-buildings, .foreground-buildings {
    height: 300px;
    overflow: hidden;
    width: 85%;
}

#city-skyline {
    margin: auto;
    .sky {
        background: radial-gradient(
            closest-corner circle at 15% 15%,
            #ccc,
            #ccc 20%,
            #445 21%,
            #223 100%
        );
    }
    .foreground-buildings {
        border: 2px outset $gray;
    }
    #disclaimer {
        color: $white;
    }
}
#city-skyline.classic {
    border: 2px dashed $white;
    .sky {
        background: radial-gradient(
            circle closest-corner at 15% 15%, 
            #fae653 0%,
            #f2de3b 20%,
            #f3e870 21%,
            #c5cddc 100%);
    }
    #disclaimer {
        color: $smoky-black;
    }
}

.background-buildings, .foreground-buildings {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    position: absolute;
}
.building-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 10%;
}
.window-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/**BACKGROUND BUILDINGS - "bb" stands for "background building"**/
.bb1-window {
    height:10%;
}
    .bb1a {
        width: 70%;
    }
    .bb1b {
        width: 80%;
    }
    .bb1c {
        width: 90%;
    }
    .bb1d {
        height: 70%;
        width: 100%;
    }
.bb2 {
    height: 50%;
    width: 10%;
}
    .bb2a {
        border-left: 5vw solid transparent;
        border-right: 5vw solid transparent;
    }
    .bb2b {
        height: 100%;
        width: 100%;
    }
.bb3 {
    height: 55%;
    width: 10%;
}
.bb4 {
    height: 58%;
    width: 11%;
}
    .bb4a {
        height: 10%;
        width: 3%;
    }
    .bb4b {
        height: 5%;
        width: 80%;
    }
    .bb4c {
        height: 85%;
        width: 100%;
    }
    .bb4-window {
        height: 90%;
        width: 18%;
    }
#city-skyline {
    .bb1-window {
        background: linear-gradient($building-color5, $building-color5);
    }
    .bb1d {
        background: linear-gradient($building-color5 50%, $building-color5);
    }
    .bb2a {
        border-bottom: 5vh solid $building-color5;
    }
    .bb2b {
        background: repeating-linear-gradient($building-color5 0, $building-color5 6%, $window-color5 6%, $window-color5 9%);
    }
    .bb3 {
        background: repeating-linear-gradient(90deg, $building-color5, $building-color5, $window-color5 15%);
    }
    .bb4a, .bb4b, .bb4c {
        background-color: $building-color5;
    }
    .bb4-window {
        background-color: $window-color5;
    }
}
#city-skyline.classic {
    .bb1-window {
        background: linear-gradient($building-color1, $building-color2);
    }
    .bb1d {
        background: linear-gradient($building-color1 50%, $building-color2);
    }
    .bb2a {
        border-bottom: 5vh solid $building-color2;
    }
    .bb2b {
        background: repeating-linear-gradient($building-color2 0, $building-color2 6%, $window-color2 6%, $window-color2 9%);
    }
    .bb3 {
        background: repeating-linear-gradient(90deg, $building-color3, $building-color3, $window-color3 15%);
    }
    .bb4a, .bb4b, .bb4c {
        background-color: $building-color4;
    }
    .bb4-window {
        background-color: $window-color4;
    }
}
/**FOREGROUND BUILDINGS - "fb" stands for "foreground building"**/
.fb1 {
    height: 60%;
    width: 10%;
}
    .fb1a {
        border-left: 2vw solid transparent;
        border-right: 2vw solid transparent;
    }
    .fb1b {
        height: 10%;
        width: 60%;
    }
    .fb1c {
        height: 80%;
        width: 100%;
    }
.fb2 {
    height: 40%;
    width: 10%;
}
    .fb2-window {
        height: 100%;
        width: 22%;
    }
    .fb2a {
        border-left: 1vw solid transparent;
        border-right: 1vw solid transparent;
        width: 100%;
    }
    .fb2b {
        height: 75%;
        width: 100%;
    }
.fb3 {
    height: 46%;
    width: 10%;
}
    .fb3-window {
        height: 80%;
        width: 25%;
    }
    .fb3a {
        height: 15%;
        width: 80%;
    }
    .fb3b {
        height: 35%;
        width: 100%;
    }
.fb4 {
    display: flex;
    flex-wrap: wrap;
    height: 45%;
    position: relative;
    left: 10%;
    width: 8%;
}
    .fb4-window {
        border-radius: 50%;
        height: 10%;
        margin: 10%;
        width: 30%;
    }
    .fb4a {
        border-top: 5vh solid transparent;
    }
    .fb4b {
        height: 89%;
        width: 100%;
    }
.fb5 {
    height: 33%;
    position: relative;
    right: 10%;
    width: 10%;
}
.fb6 {
    height: 38%;
    width: 9%;
}
#city-skyline {
    .fb1a {
        border-bottom: 7vh solid $building-color5;
    }
    .fb1b, .fb2b, .fb3a, .fb3b, .fb4b {
        background-color: $building-color5;
    }
    .fb2a {
        border-bottom: 10vh solid $building-color5;
    }
    .fb1c {
        background: repeating-linear-gradient(90deg, $building-color5 0, $building-color5 10%, transparent 10%, transparent 15%),
        repeating-linear-gradient($building-color5 0, $building-color5 10%, $window-color5 10%, $window-color5 90%);
    }
    .fb2-window, .fb3-window, .fb4-window {
        background-color: $window-color5;
    }
    .fb4a {
        border-left: 8vw solid $building-color5;
    }
    .fb5 {
        background: repeating-linear-gradient($building-color5 0, $building-color5 5%, transparent 5%, transparent 10%),
        repeating-linear-gradient(90deg, $building-color5 0, $building-color5 12%, $window-color5 12%, $window-color5 44%);
    }
    .fb6 {
        background: repeating-linear-gradient(90deg, $building-color5 0, $building-color5 10%, transparent 10%, transparent 30%),
        repeating-linear-gradient($building-color5 0, $building-color5 10%, $window-color5 10%, $window-color5 30%);
    }
}
#city-skyline.classic {
    .fb1a {
        border-bottom: 7vh solid $building-color4;
    }
    .fb1b {
        background-color: $building-color4;
    }
    .fb1c {
        background: repeating-linear-gradient(90deg, $building-color4 0, $building-color4 10%, transparent 10%, transparent 15%),
        repeating-linear-gradient($building-color4 0, $building-color4 10%, $window-color4 10%, $window-color4 90%);
    }
    .fb2-window {
        background-color: $window-color3;
    }
    .fb2a {
        border-bottom: 10vh solid $building-color3;
    }
    .fb2b {
        background-color: $building-color3;
    }
    .fb3-window {
        background-color: $building-color2;
    }
    .fb3a {
        background-color: $building-color1;
    }
    .fb3b {
        background-color: $building-color1;
    }
    .fb4-window {
        background-color: $building-color2;
    }
    .fb4a {
        border-left: 8vw solid $building-color1;
    }
    .fb4b {
        background-color: $building-color1;
    }
    .fb5 {
        background: repeating-linear-gradient($building-color2 0, $building-color2 5%, transparent 5%, transparent 10%),
        repeating-linear-gradient(90deg, $building-color2 0, $building-color2 12%, $window-color2 12%, $window-color2 44%);
    }
    .fb6 {
        background: repeating-linear-gradient(90deg, $building-color3 0, $building-color3 10%, transparent 10%, transparent 30%),
        repeating-linear-gradient($building-color3 0, $building-color3 10%, $window-color3 10%, $window-color3 30%);
    }
}

/*@media(max-width: 1700px) {
    #city-skyline, .background-buildings, .foreground-buildings {
        width: 100%;
    }
}*/

@media (max-width: 479px) {
    #city-skyline, .background-buildings, .foreground-buildings {
        width: 90%;
    }
}