/********** WIN 95 STYLE **********/
body.classic {
    background-color: $teal;
    background-image: none;
    font-family: 'MS Sans Serif', sans-serif;
    line-height: normal;
    animation: none;
}

body.classic, #navbar.classic > ul {
    border-left: 2px solid $classic-blue;
}
#navbar.classic, #copyright.classic {
    background: $silver;
    border: 5px outset $white;
    box-shadow: -1px -1px $white, 0 -1px $white, -1px 0 $white, 1px 1px $black, -1px 1px $black, 1px -1px $black;
    -webkit-box-shadow: 0 0 78px 4px $black-shadow;
}
    #navbar.classic > ul {
        display: grid;
        grid-template-columns: 1% 15% 10% 15% 15% 10%;
        gap: 6%;
    }

    #navbar.classic > ul > li > a, #copyright.classic{
        color: $black;
    }
    #navbar.classic > ul > .nav-item, #copyright.classic {
        font-family: 'MS Sans Serif', sans-serif;
        letter-spacing: normal;
    }
    #navbar.classic {
        .nav-item:hover {
            background-color: $classic-blue;
            clip-path:polygon(100% 0, 100% 70%, 90% 100%, 0 100%, 0 0);
        }
        .nav-item:hover > a {
            color: $white;
        }
    }
    #smudge.classic {
        background-color: $classic-blue;
        clip-path: polygon(100% 0, 100% 70%, 90% 100%, 0 100%, 0 0);
        width: 270%;
    }

#site-name.classic {
    background: #008080;
    border-bottom: 5px ridge $silver;
    h1, h2 {
        font-family: $font-W95FA;
    }
}

#site-name.classic, .highlight-xp {
    text-shadow: 2px 2px 3px black, 0 0 25px blue, 0 0 5px darkblue;
}

#welcome-section.classic {
    border-bottom: 5px ridge $silver;
    .terminal {
        border: 3px outset lightgrey;
        box-shadow: 1px 1px $black-shadow;
        -webkit-box-shadow: 1px 1px $black-shadow;
    }
    span {
        font-family: $font-W95FA;
    }
    .on-off {
        border: inset $gray;
    }
    .on-off:hover #in-the-moment {
        display: block;
        background-color: #cccc99;
        border: 1px solid #466161;
        box-shadow: none;
        color: #0d2b2a;
    }
    .on-off:hover #nostalgic {
        display: none;
    }
    .avatar > img {
        box-shadow: none;
        height: 300px;
        width: 300px;
    }
    #current-avatar {
        display: none;
    }
    #pixel-avatar {
        display: block;
    }
}

#resume.classic {
    display: grid;
    grid-template-columns: 100%;
    margin: 0 7% 0 7%;
    padding: 0 4px 4px 4px;
}
    #description.classic > .section-title,
    #skills.classic > .section-title,
    #experience.classic > .section-title,
    #projects.classic > .section-title,
    #contact.classic > .section-title,
    #social.classic > .section-title {
        background-color: $gray;
        border: 2px;
        border-style: outset;
        border-right-color: $dark-border;
        border-bottom-color: $dark-border;
        color: $white;
        font-family:'MS Sans Serif', 'Roboto', sans-serif;
        letter-spacing: normal;
        text-shadow: 3px 3px $black-shadow;
        padding: 7px 7px 7px 30px;
        width: 20%;
    }
    #experience.classic > .section-title,
    #projects.classic > .section-title {
        width: 47%;
    }
    #description.classic > .section-title:hover,
    #skills.classic > .section-title:hover,
    #experience.classic > .section-title:hover,
    #projects.classic > .section-title:hover,
    #contact.classic > .section-title:hover,
    #social.classic > .section-title:hover {
        background: -webkit-linear-gradient(left,$classic-blue,#a5cef7);
        border-color: $white $white $gray $black;
        text-shadow: none;
    }
    #description.classic > .section-title > .arrow,
    #skills.classic > .section-title > .arrow,
    #experience.classic > .section-title > .arrow,
    #projects.classic > .section-title > .arrow,
    #contact.classic > .section-title > .arrow,
    #social.classic > .section-title > .arrow {
        display: none;
    }
    #description.classic > .section-title:hover + .section-text,
    #skills.classic > .section-title:hover + .section-text,
    #projects.classic > .section-title:hover + .section-text,
    #contact.classic > .section-title:hover + .section-text  {
        background-color:$silver;
        border: 2px inset $white;
        border-color: $black $white $white $black;
        box-shadow: none;
        color: $black;
    }
    #description.classic > .section-text,
    #skills.classic > .section-text,
    #experience.classic > .section-text,
    #projects.classic > .section-text,
    #contact.classic > .section-text,
    #social.classic > .section-text {
        color: $white;
        border: 2px dashed $white;
        background-color: transparent;
        font-size: 25px;
        text-align: initial;
        padding: 3%;
    }

    #skills.classic {
        .icons {
            border-left-color: $silver;
            border-right-color: $silver;
        }
        .icon {
            image-rendering: -webkit-optimize-contrast;
            image-rendering: -moz-crisp-edges;
            image-rendering: crisp-edges;
        }
    }

    #experience.classic {
        .section-title {
            background: none;
            border: none;
            box-shadow: none;
        }
        .section-text {
            background: none;
            border: 2px dashed $white;
            color: $white;
        }
        .xp-company {
            color: $classic-blue;
        }
    }
    #projects.classic {
        figure {
            opacity: 100%;
        }
        img {
            filter: brightness(0.9) grayscale(0);
        }
        figure:hover {
            box-shadow: none;
        }
        figcaption {
            background-color: $silver;
            border-color: $white $black $black $white;
            color: $black;
        }
    }
    #contact.classic {
        #availability {
            background: $silver;
            border-color: $white $black $black $white;
            border-style: solid;
            color: $black;
        }
        #status, #status-for  {
            font-family: $font-W95FA;
        }
        #green {
            background: $gray;
            border-radius: 0;
            margin: 1% 0 0 0;
        }
        #green-fill, .switch-input:checked + .switch-label::before {
            background: #00e800;
        }
        #green-fill {
            border-radius: 5%;
        }
        .input-element {
            background: $white;
            border: 2px inset #d5d5d5;
            box-shadow: -1px -1px 0 0 #828282;
            color: #424242;
        }
        .button {
            background-color: $classic-blue;
            border-style: outset;
            border-right-color: $dark-border;
            border-bottom-color: $dark-border;
        }
        .button:hover {
            border: 2px inset $white;
            background: silver;
            color: $dark-border;
            box-shadow: -1px -1px $black;
        }
    }
    #social.classic {
        .social-media {
            background: none;
            border-top: 2px dashed $silver;
        }
    }