/********** MODERN STYLE **********/
body {
    background-color: #000000;
    background-image: url(../assets/images/modern-design/shapes.svg);
    border-left: 2px solid $neon-pink;
    font-family: 'Jura', monospace, sans-serif;
    animation: fadeBackground 27s infinite alternate;
    animation-fill-mode:backwards;
}

@keyframes fadeBackground {
    from { background-color: #000000; }
    to { background-color: #0b0b0b; }
}

nav {
    background:#0F1110;
    border-bottom:2px solid $dark-border;
    ul {
        display: grid;
        grid-template-columns: 12% 17% 12% 17% 17% 15%;
        grid-template-rows: auto;
        column-gap: 1%;
        padding-left: 0;
    }
}
    .nav-item {
        cursor: pointer;
        font-family: $font-Primus;
        font-size:27px;
        letter-spacing: .2rem;
        list-style: none;
        justify-content: center;
        padding: 20px;
        a {
            color: $white;
            text-decoration: none;
        }
    }
    #smudge {
        background-color: $neon-pink;
        clip-path:polygon(80% 0, 100% 70%, 70% 90%, 0 100%, 0 0);
    }
    .nav-item:hover{
        background-color: $neon-pink;
        clip-path:polygon(100% 0, 100% 70%, 90% 100%, 0 100%, 0 0);
    }

#site-name {
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0, rgba(0,0,0,0.25) 20%, rgba(0,0,0,0.5) 45%, rgba(0,0,0,0.75) 70%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0, rgba(0,0,0,0.25) 20%, rgba(0,0,0,0.5) 45%, rgba(0,0,0,0.75) 70%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0, rgba(0,0,0,0.25) 20%, rgba(0,0,0,0.5) 45%, rgba(0,0,0,0.75) 70%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0.25) 20%, rgba(0,0,0,0.5) 45%, rgba(0,0,0,0.75) 70%, rgba(0,0,0,1) 100%);
    border-bottom:5px ridge $dark-border;
    text-shadow: 0 0 .5rem rgba(255, 255, 255, 0.95);
    h1 {
        font-size: 3.5em;
        font-weight: 100;
        letter-spacing: 1.25rem;
        margin-bottom: 5px;
    } 
    h2 {
        font-size: 1.05em;
        font-weight: 300;
        letter-spacing: .85rem;
        padding-left: .35rem;
    }
}

#welcome-section {
    border-bottom:5px ridge $dark-border;
    display:grid;
    grid-template-columns: 25% 70%;
    grid-template-rows: auto;
    gap: 0.1%;
    margin:2% 2% 2% 0;
    padding:3% 1% 3% 1%;
    width:100%;
}
    .avatar {
        grid-column-start: 1;
        padding-left: 17%;
        img {
            box-shadow: 0 0 78px 4px $black-shadow;
            -webkit-box-shadow: 0 0 78px 4px $black-shadow;
            height: 300px;
            width: 300px;
        }
        #current-avatar {
            border: 4px solid $neon-pink; 
            border-radius:  0 80% 50% 90%/50% 7% 30% 40%;
        }
        #current-avatar:hover {
            border-color: $neon-teal;
            box-shadow: 0 0 .5rem #14c1c1, 0 0 .5rem #189494, 0 0 .27rem #134848;
        }
        #pixel-avatar {
            display: none;
        }
    }  

    .terminal {
        background:#020303;
        border:5px ridge $dark-border;
        border-left:2px ridge $white;
        -webkit-box-shadow: 0 0 78px 4px $black-shadow;
        box-shadow: 0 0 78px 4px $black-shadow;
        color:$white;
        grid-column-start: 2;
        padding: 3% 1% 1% 5%;
        span {
            color: $white;
            font-family: 'Jura', monospace;
        }
    }

.on-off {
    background: #020303;
    border: groove $dark-border;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px $dark-border;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    grid-column-start: 2;
    justify-self:right;
    height: 90%;
    width:10%;
}
    .on-off-message {
        background-color:rgba(0, 0, 0, .75);
        box-shadow: 0 0 .5rem #14c1c1, 0 0 .5rem #189494, 0 0 .5rem #134848;
        color:$white;
        display:none;
        margin-right: 1%;
        padding: 0.5%;
        position:absolute;
    }
    .on-off:hover {
        #nostalgic {
            display: block;
        }
        #in-the-moment {
            display: none;
        }
    }

.switch {
    display: inline-block;
    position: relative;
}
    .switch-input {
        display: none;
    }
    .switch-label {
        display: block;
        clip: rect(0 0 0 0);
        color: transparent;
        height: 24px;
        text-indent: -150%;
        user-select: none;
        width: 48px;
    }
    .switch-label::before,
    .switch-label::after {
        content: "";
        cursor: pointer;
        display: block;
        position: absolute;
    }
    .switch-label::before {
        background-color: #dedede;
        border-radius: 9999em;
        -webkit-transition: background-color 0.25s ease;
        transition: background-color 0.25s ease;
        height: 100%;
        width: 100%;
    }
    .switch-label::after {
        background-color: $white;
        border-radius: 50%;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
        -webkit-transition: left 0.25s ease;
        transition: left 0.25s ease;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
    }
    .switch-input:checked + .switch-label::before {
        background-color: #3C8C04;
    }
    .switch-input:checked + .switch-label::after {
        left: 24px;
    }

#resume {
    display:grid;
    grid-template-columns: 100%;
    margin: 0 7% 0 7%;
    padding: 0 4px 4px 4px;
}
.section-title {
    color: $white;
    font-size: 36px;
    letter-spacing: .27rem;
    margin-top: 3%;
    padding: 7px 7px 7px 1%;
    width:27%;
}
    .section-title:hover {
        background-color: $white;
        box-shadow: 0 0 .5rem #14c1c1, 0 0 .5rem #189494, 0 0 .5rem #134848;
        color: $black;
        letter-spacing: 0.08em;
    }
    .arrow{
        display: inline-block;
        height: 30px;
        width: 30px;
    }

.section-title, .section-text {
    background-color: $smoky-black;
    border:2px solid $dark-border;
}
.section-text {
    color: $white;
    font-size: 25px;
    line-height: 1.4;
    padding: 3%;
    text-align:justify;
}

.section-title:hover + .section-text {
    background-color: $black;
    box-shadow: 0 0 .5rem #14c1c1, 0 0 .5rem #189494, 0 0 .5rem #134848;
}

.icons {
    border-left: 2px solid $dark-border;
    border-right: 2px solid $dark-border;
}

.xp {
    background: $smoky-black;
    border: 2px solid $dark-border;
    border-bottom: 5px ridge rgba(20, 193, 193, 0.75);
    border-radius: 20px;
    font-size: 25px;
    padding: 2% 2% 2% 3%;
    transform: perspective(800px) scale(0.95) translateX(10px);
}
    .section-title:hover + .xp {
        border: 3px solid $dark-border;
        box-shadow: 0 0 78px 4px $black-shadow;
        -webkit-box-shadow: 0 0 78px 4px $black-shadow;
    }
    .break {
        border-bottom:2px solid $dark-border;
    }
    .xp-company {
        color: $neon-pink;
    }

#gallery {
    img {
        filter: grayscale(90%);
    }
    figure:hover {
        opacity: 100%;
        box-shadow: 0 0 78px 4px $black-shadow;
        -webkit-box-shadow: 0 0 78px 4px $black-shadow;
    }
    figure:hover img {
        filter: grayscale(0);
    }
}
    .project {
        border: 2px solid $gray;
    }
    figcaption {
        background-color: $smoky-black;
        border: 2px solid $dark-border;
        color: $white;
    }

#availability {
    background: $smoky-black;
    border:2px solid $dark-border;
    border-bottom: 5px ridge rgba(20, 193, 193, 0.15);
    border-radius: 20px;
    color:$white;
    transform: perspective(800px) scale(0.95) translateX(10px);
}

#status {
    font-family: $font-Primus;
}
#contact:hover + #availability{
    box-shadow: 0 0 .5rem #14c1c1, 0 0 .5rem #189494, 0 0 .5rem #134848;
}
.input-element {
    color:#134848;
}
.button {
    background: $neon-pink;
    border-radius: 4px;
    /*clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);*/
    box-shadow: 4px 4px 4px 3px #189494;
    transition: all 0.2s ease-in-out;
}
    .button:hover {
        box-shadow: 1px 1px $neon-teal, 2px 2px $neon-teal, 3px 3px $neon-teal;
        transform: translateX(-3px);
    }

.social-media {
    border-top: 2px solid $dark-border;
}

footer {
    background:#0F1110;
    border-top:2px solid $dark-border;
    color:$white;
}