/********** BASE STYLE **********/
* {
    box-sizing: border-box;
    margin: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body, body.classic {
    text-rendering: optimizeSpeed;
    min-height: 100vh;
    overflow-x: hidden;
}

img, picture {
	display: block;
	max-width: 100%;
}

.blinker {
    animation: blinker 0.9s steps(2, start) infinite;
    border-left: 7px solid $white;
    height: 15px;
    margin-left: -2px;
    margin-bottom: -2px;
    opacity: 1;
}
@keyframes blinker {
    to { 
        visibility: hidden; 
    }
}

.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
}

.icon {
    margin: 1% 2% 1% 1%;
    object-fit: cover;
    height: 100px;
    width: 100px;
}

#experience > .section-title,
#projects > .section-title,
#experience.classic > .section-title,
#projects.classic > .section-title {
    width: 60%;
}

#experience {
    .section-title {
        border: none;
        background-color: transparent;
        color: $white;
        margin-top: 0;
    }
}
    .xp-company, .xp-time {
        display: inline-block;
        font-size: 22px;
        text-align: center;
        vertical-align: top;
        width: 100%;
    }
    .xp-time {
        font-size: 19px;
    }
    .xp-title, .xp-description {
        padding: 0 1% 1% 1%;
        width: 78%;
    }
    .xp-title {
        text-align: center;
    }
    .xp-description {
        font-style: italic;
        font-size: 19px;
    }

#gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 2%;
    row-gap: 2%;
    padding: 0;
    figure{
        opacity: 50%;
    }
    figcaption {
        display: none;
        text-align: center;
        font-size: 17px;
        position: absolute;
        padding: 5px;
        max-height: 100%;
        max-width: 20%;
        z-index: 2;
    }
    figure:hover > figcaption {
        display: block;
    }
}
    .project {
        opacity: 90%;
        padding: 0;
        height: 100%;
    }
    #gallery > figure, .project, #gallery > figure > figcaption {
        width: 100%;
    }

.disclaimer {
    font-size: 1rem;
    font-style: italic;
    margin-top: 1%;
    position: absolute;
    z-index: 1;
    top:10px;
    right: 30px;
    width: 80%;
    text-align: right;
}

#availability {
    display:block;
    position:absolute;
    margin: 5% 1% 1% 1%;
    padding: 1%;
    line-height: 1.4;
}
    #green {
        background: linear-gradient(top, #535350 0, #6a6b68 40%, #2c2e2b 100%);
        background: -webkit-linear-gradient(top, #535350 0, #6a6b68 40%, #2c2e2b 100%);
        background: -moz-linear-gradient(top, #535350 0, #6a6b68 40%, #2c2e2b 100%);
        background: -o-linear-gradient(top, #535350 0, #6a6b68 40%, #2c2e2b 100%);
        background: -ms-linear-gradient(top, #535350 0, #6a6b68 40%, #2c2e2b 100%);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        box-shadow: inset 0 1px 1px $white, 0 1px 3px rgba(0,0,0,0.5);
        -webkit-box-shadow: inset 0 1px 1px $white, 0 1px 3px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0 1px 1px $white, 0 1px 3px rgba(0,0,0,0.5);
        float: right;
        margin: 1% 15% 0 0;
        height: 28px;
        width: 28px;
    }
        #green-fill {
            background: linear-gradient(top, #222 0, #7cb82e 100%);
            background: -webkit-linear-gradient(top, #222 0, #7cb82e 100%);
            background: -moz-linear-gradient(top, #222 0, #7cb82e 100%);
            background: -o-linear-gradient(top, #222 0, #7cb82e 100%);
            background: -ms-linear-gradient(top, #222 0, #7cb82e 100%);
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            left: 4px;
            top: 4px;
            margin:7% 5% 10% 5%;
            height: 23px;
            width: 25px;
        }
    #status {
        font-size: 27px;
        letter-spacing: .1rem;
    }
    #status-for {
        font-size: 22px;
    }

#contact {
    margin: 3% 7% 0 7%;
    position:relative;
}

form {
    display: grid;
    align-items: center;
    grid-template-columns: 5% 50%;
    grid-row-gap: 15%;
    margin: 5% 30% 18% 30%;
    position:relative;
    width:100%;

    .input-label {
        grid-column-start: 1;
        color: $white;
        padding-left: 17%;
    }
    .input-element {
        grid-column-start: 2;
        height: 46px;
        margin-left: 10%;
        padding-left: 10px;
    }
    #message {
        grid-column-start: span 2;
        grid-row-start: span 2;
        height:120%;
        margin:0;
        padding-top:1%;
    }
    
    .nospam{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        z-index: -1;
    }
    
    .button {
        cursor: pointer;
        color: $white;
        font-family: inherit;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        height: 50px;
        margin: 0 25% 1% 25%;    
        padding: 0 20px;
    }
}

#social {
    border:none;
    margin: 0 7% 1% 7%;
    position: relative;
}
    .social-media {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 36px;
        text-align:center;
        text-transform: uppercase;
        padding: 3% 0 3% 0;
        position:relative;
        width: 100%;
        a {
            text-decoration: none;
            color: $white;
        }
    }

footer {
    bottom:0;
    height:35px;
    padding-top:14px;
    position:relative;
    text-align:center;
    width:100%;
}