@import url("Primus-Demo.otf");
@import url('W95FA.otf'); 

$neon-pink: #B70E91;
$neon-teal: #14c1c1;
$black-shadow: #161A1D;
$black: #040507;
$smoky-black: #0D0D0D;
$dark-border: #282A29;
$gray: #808080;

$silver: #c0c0c0;
$white: #FFFFFF;
$teal: #2d7776;
$classic-blue: #1a0076;

$font-Primus: "Primus-Demo.otf", monospace;
$font-W95FA: "W95FA.otf", sans-serif; 

/*Skyline Base Colours*/
$building-color1: #7c7da3;
$building-color2: #5dac8b;
$building-color3: #d07f88;
$building-color4: #61a3ea;
$building-color5: #000;
$window-color1: #aca1f3;
$window-color2: #78dfb4;
$window-color3: #e7abb7;
$window-color4: #7db5ef;
$window-color5: #777;