/********** BASE STYLE **********/
@font-face {
  font-family: "W95FA";
  src: url("../fonts/W95FA.otf") format("opentype");
}
@font-face {
  font-family: "Primus-Demo";
  src: url("../fonts/Primus-Demo.otf") format("opentype");
}

:root {
  --neon-pink: #f82f9a;
  --neon-teal: #14c1c1;
  --black-shadow: #161a1d;
  --black: #070705;
  --smoky-black: #0d0d0d;
  --dark-border: #282a29;
  --neutral: #333;
  --gray: #808080;
  --light-gray: lightgrey;
  --classic-gray: #e0dede;
  --silver: #c0c0c0;
  --white: #fff;
  --teal: #008080;
  --classic-blue: #0000a8;
  /*Skyline Base Colours*/
  --building-color1: #7c7da3;
  --building-color2: #5dac8b;
  --building-color3: #d07f88;
  --building-color4: #61a3ea;
  --window-color1: #aca1f3;
  --window-color2: #78dfb4;
  --window-color3: #e7abb7;
  --window-color4: #7db5ef;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
body.classic {
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}
h1 {
  font-weight: 100;
}
p {
  line-height: 32px;
}
p, a, #terminal::before, .skill-list, .header-container > .typing {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 1.5rem;
}

.bold {
  font-weight: 700;
}
.text-centered, #disclaimer {
  text-align: center;
}

/******** NAVBAR ********/
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
 
  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
    .nav-column {
      flex: 1;
      text-align: center;
    }
    
    .nav-column a {
      padding: 10px;
      font-size: 20px;
      text-decoration: none;
    }

    .nav-item {
      padding-top: 10px;
    }
    
    .toggle-column {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .on-off-message {
    display: none;
    padding: 0.5%;
    margin-top: 7%;
    margin-right: 1%;
    position: absolute;
    z-index: 1;
  }
    #navbar > .nav-container > .toggle-button:hover > #nostalgic {
      display: block;
      background-color: rgba(0, 0, 0, 0.75);
      box-shadow: 0 0 0.5rem var(--neon-teal), 0 0 0.5rem #189494,
        0 0 0.5rem #134848;
      color: var(--white);
    }

#typing-container {
  height: 2.7rem;
  padding: 2rem 0 1% 0;
  margin-bottom: 3%;
}
#next-link-container {
    margin-top: 1%;
    padding-right: 1%;
    text-align: right;
  }
  .next-link {
    box-shadow: 0 0 78px 4px var(--black-shadow);
    text-decoration: none;
  }

/******** INTRO ********/
#site-name {
  position: relative;
  padding: 2em 1rem;
  text-align: center;
}
  #site-name h1, #site-name h2 {
    letter-spacing: 0.125em;
    text-align: center;
    text-transform: uppercase;
  }

  #terminal {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 500px;
    height: auto;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
    border: 5px ridge var(--dark-border);
    border-left: 2px ridge var(--white);
    -webkit-box-shadow: 0 0 78px 4px var(--black-shadow);
    box-shadow: 0 0 78px 4px var(--black-shadow);
    background: #020303;
    overflow-y: scroll;
  }
  .prompt-symbol {
    margin: 0 3px;
  }
  #terminaltext {
    color: white;
    font-family: monospace;
  }
  .blinker {
    animation: blinker 0.9s steps(2, start) infinite;
    border-left: 7px solid var(--white);
    opacity: 1;
  }
    @keyframes blinker {
      to {
        visibility: hidden;
      }
    }

#welcome-section {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
  grid-row-gap: 0px; 
  margin: 0 auto;
  padding: 3% 1% 1% 1%;
  max-width: 1200px;
}
  .avatar {
    position: relative;
  }
    #current-avatar, #pixel-avatar {
      margin: 0 auto;
      max-width: 400px;
    }
    #greeting, .skillbox {
      padding-left: 10%;
      padding-top: 1.5rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
    }
      #greeting h1, #profile .typing {
        font-weight: 700;
      }

/******** ABOUT ********/
#hero {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: start;
  text-decoration: none;
}

#profile, #profile-wrap {
  flex-wrap: wrap;
}
#profile-wrap {
  display: flex; 
  margin-top: 2%;
}

#about-avatar {
  width: 300px;
}
#about-text {
  padding: 1.5% 0 0 4%;
  color: var(--white);
}
#codename {
      padding: 2px;
      background-color: #000;
      color: #333;
      text-align: center;
      overflow-y: hidden;
  }

#description h1, #description h2 {
    color: var(--white);
    text-align: center;
    margin: 3px;
    padding: 10px 20px;
}
#description > .skill-list {
  margin-left: 3%;
}
/******** SKILLS ********/
#profile-wrap-skills {
  margin-top: 2%;
}
.skillbox {
  content: "";
  display: table;
  clear: both;
}
  .skill {
    float: left;
    width: 50%;
  }
  .skill-list {
    list-style: none;
    padding: 10px;
  }

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
}
.icon {
  margin: 1% 2% 1% 1%;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.bonus-margin-bottom {
  margin-bottom: 1.5%;
}

.arrow {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.section-title, .xp-title {
  text-align: center;
}
  #experience .section-title {
    width: 60%;
  }
.section-text {
  color: var(--white);
  line-height: 1.4;
  text-align: justify;
}

#xp-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row: auto;
  padding: 2% 2% 2% 3%;
}
  .xp-description, .xp-title {
    padding: 0 1% 1% 1%;
    width: 70%;
  }
  .highlight-xp {
    font-size: 1.3rem;
  }
  .xp-company, .xp-time {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-size: 22px;
    text-align: center;
  }
  .xp-company,
  .xp-time > p {
    font-size: 1rem;
  }
.xp-description {
  padding-left: 4%;
  font-size: 19px;
  font-style: italic;
  text-align: initial;
}

#experience > .section-title,
#projects > .section-title {
  width: 100%;
}

/******** My Projects ********/
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
  #projects > #typing-container {
    padding-top: 2rem;
  }

#disclaimer {
  margin: 2% auto;
}
#disclaimer, .header-container {
  width: 90%;
}
.header-container {
  margin: 0 auto 3% auto;
}

#gallery {
  columns: 4 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}
  #gallery > figure {
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin: 0 1.5rem 1.5rem 0;
  }
  .project {
    width: 100%;
  }
    figcaption {
      padding: 5px;
      margin: 5px 0;
      text-align: center;
      font-size: 1.3rem;
    }
    figcaption > .bi-info-circle {
      cursor: pointer;
      vertical-align: super;
      padding: 0 5px 5px 5px;
      font-size: 1rem;
      font-style: italic;
    }
    .project-details {
      padding: 10px;
      font-style: italic;
    }

  #projects-next-link {
    width: 85%;
    margin: 0 auto;
  }
    #projects-next-link > #next-link-container {
      padding: 2%;
      text-align: center;
    }

/******** CONTACT ********/
#contact {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 3% 7% 0 7%;
  position: relative;
}

#availability {
  margin: 5% 1% 1% 1%;
  padding: 1%;
  line-height: 1.4;
}
  #status-availability {
    padding: 10%;
  }
#green {
  background: linear-gradient(top, #222 0, #7cb82e 100%);
  background: -webkit-linear-gradient(top, #222 0, #7cb82e 100%);
  background: -o-linear-gradient(top, #222 0, #7cb82e 100%);
  background: -ms-linear-gradient(top, #222 0, #7cb82e 100%);
  border: 2px solid var(--dark-border);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  margin: 2% 0 5% auto;
  height: 28px;
  width: 28px;
  box-shadow: inset 0 3px 3px var(--white), 0 3px 7px rgba(0, 0, 0, 0.5);
}

#status, form {
  font-size: 24px;
  letter-spacing: 0.1rem;
}
#status-for{
  margin: 4%;
  font-size: 20px;
  text-align: right;
}
input, textarea {
  font-size: 18px;
}

form {
  display: grid;
  align-items: center;
  grid-template-columns: 20% 50%;
  grid-row-gap: 15%;
  margin: 5% 10% 10% 10%;
  position: relative;
  width: 100%;
}
form .input-label {
  grid-column-start: 1;
  color: var(--white);
  padding-left: 17%;
}
form .input-element {
  grid-column-start: 2;
  height: 46px;
  margin-left: 10%;
  padding-left: 10px;
}
form #message {
  grid-column-start: span 2;
  grid-row-start: span 4;
  height: 120%;
  margin: 0;
  margin-left: 7%;
  padding-top: 1%;
}
form .nospam {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
form .button {
  cursor: pointer;
  color: var(--white);
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
  margin: 0 25% 1% 25%;
  padding: 0 20px;
}

#social {
  border: none;
  margin: 10% 7% 0 7%;
  position: relative;
}
  #social > .section-title {
    width: 40%;
  }
.social-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 3% 0 0 0;
  position: relative;
  width: 100%;
}
  .social-media a {
    font-size: 1.7rem;
    text-decoration: none;
  }

/******** FOOTER ********/
#copyright {
  position: static;
  display: block;
  text-align: center;
}
  #copyright-wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
  #to-top {
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }


/********** MEDIA QUERIES **********/
/******** DESKTOP ********/
@media (min-width: 1024px) {
  #projects > #typing-container {
    padding-top: 2rem;
  }
  #projects > #typing-container, .header-container {
    margin-bottom: 2%;
  }
}

@media (min-width: 768px) {
    .nav-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  
    .nav-column {
      flex: 1;
      text-align: center;
    }
  
    .toggle-column {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #site-name {
      padding: 3% 0 3% 0;
      width: 100%;
      white-space: nowrap;
    }
    #site-name h1 {
      font-size: 3rem;
      letter-spacing: 1.25rem;
    }
    #site-name h2 {
      font-size: 2.5rem;
      font-weight: 100;
    }

    #current-avatar, #pixel-avatar {
      width: 300px;
      height: 300px;
  }
    .prompt-symbol, #terminaltext {
      font-size: 27px;
    }
    #description {
      max-width: 70%;
  }
  .typing {
      font-size: 2.5rem;
  }
}
  
/******** TABLET ********/
@media (max-width: 1024px) {
  #welcome-section, #avatar, #greeting {
    display: block !important;
  }
  #next-link-container > .next-link, #next-link-container > .prompt-symbol {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #site-name h1 {
    font-size: 2rem;
  }
  #greeting {
    margin: 2% 5%;
  }

  #profile, #profile-wrap {
    flex-wrap: nowrap !important;
  }

  #profile-wrap-skills > #next-link-container {
    margin-top: 30%;
  }

  #status {
    font-size: 19px;
  }
    #status-for {
      font-size: 17px;
    }
}

/******** MOBILE ********/
@media (max-width: 767px) {
  .nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-column {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .toggle-column {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  p, a, #terminal::before, .skill-list {
    font-size: 1.2rem;
  }

  #welcome-section, #hero {
    padding: 1rem;
  }
  #hero {
    padding-top: 3%;
  }
  #greeting h1, #terminaltext {
    font-size: 1.3rem;
    line-height: 27px;
    text-align: center;
  }
  .typing {
    font-size: 1.5rem;
  }

  #greeting {
    padding-right: 2rem;
  }

  #avatar {
    margin: 5% auto;
  }

  #current-avatar, #pixel-avatar {
    width: 270px;
    height: 270px;
  }

  .bonus-margin-bottom {
    margin-bottom: 10%;
  }

  #next-link-container {
    display: inline-block;
    margin: 5% auto 3% auto;
    width: 100vw;
    text-align: center;
  }

  .skill {
    width: 100%;
  }
  .description-box, .skill-list {
    font-size: 19px;
  }
  #description {
    max-width: 100%;
  }
  .xp-description, .xp-time {
    font-size: 1rem;
  }
  .xp-description, .xp-title {
    width: 60%;
  }

  #gallery {
    margin: 0 1rem;
    width: auto;
  }
  figcaption {
    font-size: 1rem;
  }
  #disclaimer {
    margin: 7% auto;
  }
  #disclaimer, .header-container > .typing {
    font-size: 1.2rem;
  }

  #availability {
    margin-left: 0;
    margin-right: 5%;
  }
  #status-availability {
    padding: 1%;
  }
  #status {
    padding-top: 5%;
    padding-left: 5%;
  }
  #status,
  .button {
    font-size: 1.4rem;
  }
  #status-for {
    padding-left: 5%;
  }
  #green {
    margin:0 0 5% 70%;
  }
  #contact {
    grid-template-columns: auto;
    margin: 0 0 40% 0;
  }
  form {
    grid-template-columns: 40% 50%;
    margin: 5% 10% 0 5%;
  }
  input, textarea {
    font-size: 16px;
  }
  .button {
    width: 80%;
  }
  #social {
    position: relative;
    margin-top: 0;
  }
  #social > .section-title {
    margin-top: 0;
    width: 100%;
  }
  .social-media {
    padding-top: 5%;
  }
}

@media (max-width: 479px) {
  .on-off-message {
    margin-top: 27%;
  }
  #next-link-container {
    margin: 7% auto 1% auto;
  }
  #profile-wrap-skills > #next-link-container {
    margin: 10% auto 4% auto;
  }
  #gallery {
    columns: 2;
    column-gap: 0;
  }
  #social {
    margin-top: 70px;
  }
}