<div class="card terminal-window">
  <div class="welcome-window">
    <h1 class="card-header mt-3 text-center"> {{terminal.value}}</h1>
    <div class="card-body information-container">
      <section class="row align-items-center">
        <div class="col-12 col-md-4 text-center">
          <figure>
            <img class="img-fluid m-auto modern-image" src="/assets/modern-design/starhit.webp" alt="A brightly-coloured arcade game"/>
            <img class="img-fluid m-auto classic-image" src="/assets/classic-design/old-computer.gif" alt="A pixelated computer" loading="lazy"/>
            <figcaption class="classic-caption">1311891-318919209141</figcaption>
          </figure>
        </div>
        <div class="col-12 col-md-8 fs-5">
          <div class="px-4 py-3">
            <p>
              Whether working on my own projects or collaborating with a team, I am dedicated to delivering the best
              possible results
              and never stop seeking ways to improve and grow as a <span class="fw-bold">developer</span>.
            </p>
            <p class="mb-0"><span class="fw-bold">Occupation: </span>Webmaster.</p>
            <p class="mb-0"><span class="fw-bold">Programming languages:</span> <span class="mark-color"> HTML5</span>, <span class="mark-color">CSS3</span>, <span class="mark-color">SASS</span> & <span class="mark-color">Bootstrap</span>, <span class="mark-color">Javascript</span> & <span class="mark-color">Angular</span>.</p>
            <p><span class="fw-bold">CMS I've used: </span> <span class="mark-color">Adobe Experience Manager</span>, <span class="mark-color">Sharepoint</span>, <span class="mark-color">Wordpress</span> & <span class="mark-color">Drupal</span>.</p>
            <p><span class="fw-bold">Side Interests: </span>Geography, Video Games, Neuroscience.</p>
            <p class="fw-bold">Status:</p>
            <ul class="list-box-shadow">
              <li>
                5 years of experience as a
                <span class="fw-bold text-neon">detail-oriented content manager</span>
              </li>
              <li>
                4 years as a
                <span class="fw-bold text-neon">website front-end developer</span>
                <span>💜</span>
              </li>
              <li> Over 40 courses completed and 2 congresses organized</li>
              <li> Proficiency bonus +2 in Communication & Public Relations.</li>
              <li> +2 mentor sessions</li>
              <li>
                15 countries visited
                <span>🌠</span>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <div class="text-center mt-3">
          <h2 class="fs-3">My Web Development Journey ⭐</h2>
        </div>
        <ul class="timeline-journey nav nav-pills border-bottom border-primary-subtle justify-content-around mx-auto pt-4 pb-2 fs-5" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-early-tab" data-bs-toggle="pill" data-bs-target="#pills-early" type="button" role="tab" aria-controls="pills-early" aria-selected="false">Past - 2020</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-beginnings-tab" data-bs-toggle="pill" data-bs-target="#pills-beginnings" type="button" role="tab" aria-controls="pills-beginnings" aria-selected="false">2021 - 2022</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-present-tab" data-bs-toggle="pill" data-bs-target="#pills-present" type="button" role="tab" aria-controls="pills-present" aria-selected="false">2022 - Present</button>
          </li>
        </ul>
        <div class="tab-content pb-4" id="pills-tabContent">
          <div class="tab-pane rise box-shadow-custom p-4 pt-md-5" id="pills-early" role="tabpanel" aria-labelledby="pills-early-tab" tabindex="0">
              <h2 class="fs-4 text-center pb-3">Early Life &amp; Education</h2>
              <h3 class="fs-5">Johns Hopkins University</h3>
              <p class="fst-italic">November 2020 - January 2021</p>
              <p class="fs-5 text-primary">HTML, CSS and Javascript for Web Developers (course)</p>
              <p>
                Extended my knowledge of implementing single-page applications with HTML and CSS.
                I used Javascript to build a fully functional web application that utilized Ajax to expose server-side
                functionality and data to the end user.
              </p>
              <hr class="my-3">
              <h3 class="fs-5">Software Development Academy</h3>
              <p class="fst-italic">October 2020 - May 2021</p>
              <p class="fs-5 text-primary">JavaScript Trainee</p>
              <p>
                Rounded out my web development skill set with advanced notions of HTML, CSS, JavaScript, and with some
                training on CSS preprocessors, RWD frameworks and Content Management Systems.
                I focused on structural programming and devising design patterns.
              </p>
          </div>
          <div class="tab-pane rise box-shadow-custom p-4 pt-md-5" id="pills-beginnings" role="tabpanel" aria-labelledby="pills-beginnings-tab" tabindex="0">
            <h2 class="fs-4 text-center pb-3">Web Developing</h2>
            <h3 class="fs-5">Digital Star</h3>
            <p class="fst-italic">May 2021 - March 2022</p>
            <p class="fs-5 text-primary">Web Content Editor</p>
            <p>
              Content Management Systems highlight.
              Maintained, updated, curated and created landing pages for the contracted clients of the company in
              either Adobe Experience Manager, Wordpress or Drupal.
            </p>
          </div>
          <div class="tab-pane rise box-shadow-custom p-4 pt-md-5" id="pills-present" role="tabpanel" aria-labelledby="pills-present-tab" tabindex="0">
            <h2 class="fs-4 text-center pb-3">Full Web Developer & SEO Specialist</h2>
            <h3 class="fs-5"><a href="https://cognitiveweb.works" target="_blank" style="color:#e7bf36; text-decoration: none;">Cognitive Web Works</a></h3>
            <p class="fst-italic">November 2024 - Present</p>
            <p class="fs-5 text-primary">Founder</p>
            <p>
              Intelligently enhancing SEO optimization and web development, this digital agency specializes in WordPress, SharePoint, HTML, and CSS for a strong online presence. 
              As the founder, I established this agency to offer tailored web solutions while continuously learning and growing.
            </p>
            <hr class="my-3">
            <h3 class="fs-5">Dell Technologies</h3>
            <p class="fst-italic">June 2022 - Present</p>
            <p class="fs-5 text-primary">Front-end Developer</p>
            <p>
              Driving landing page creation and development in CMS, landing page updates, and content change
              requests from various stakeholders across the business.
              Work is optimized for UX, maintaining brand consistency. Involved in SharePoint development and UAT
              and quality control testing both pre- and post-publishing.
            </p>
          </div>
        </div>
      </section>
      <section class="classic-about d-none">
        <div class="row text-center">
          <h3 class="my-4">Current technical skills:</h3>
        </div>
        <div class="row fs-6 text-center">
          <div class="col-12 col-md-6">
            <div class="border">
              <h5 class="mt-2">Languages I speak:</h5>
              <ul class="list-group">
                <li class="list-group-item border-0"><span class="fw-bold">HTML</span></li>
                <li class="list-group-item border-0"><span class="fw-bold">CSS</span>, SASS & Bootstrap</li>
                <li class="list-group-item border-0">Javascript & Angular</li>
              </ul>
            </div>
            <div class="border">
              <h5 class="mt-2">Proficiency bonus: <br></h5>
              <ul class="list-group">
                <li class="list-group-item border-0">+2 in Communication & Public Relations.</li>
                <li class="list-group-item border-0"><br></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="border">
              <h5 class="mt-2">CMS' I've used:</h5>
              <ul class="list-group">
                <li class="list-group-item border-0 fw-bold text-neon">Adobe Experience Manager</li>
                <li class="list-group-item border-0 fw-bold text-neon">Sharepoint</li>
                <li class="list-group-item border-0">Wordpress & Drupal.</li>
              </ul>
            </div>
            <div class="border">
              <h5 class="mt-2">Dev Tools: </h5>
              <ul class="list-group">
                <li class="list-group-item border-0">Git & Terminal</li>
                <li class="list-group-item border-0">VSCode</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="text-center" role="button" (click)="toggleDisplay()">
          <h3 class="my-4">My formative Web experience</h3>
        </div>
        <div [style.display]="displayState ? 'block' : 'none'" class="border px-4">
          <div class="row fs-6 pt-4">
            <div class="col-12 col-md-4 text-center">
              <h5>Dell Technologies</h5>
              <p>June 2022 - Present</p>
            </div>
            <div class="col-12 col-md-8">
              <h5>Website Front-end Developer</h5>
              <p>
                Driving landing page creation and development in CMS, landing page updates, and content change
                requests from various stakeholders across the business.
                Work is optimized for UX, maintaining brand consistency. Involved in SharePoint development and UAT
                and quality control testing both pre- and post-publishing.
              </p>
            </div>
          </div>
          <div class="row fs-6">
            <div class="col-12 col-md-4 text-center">
              <h5>Digital Star</h5>
              <p>May 2021 - March 2022</p>
            </div>
            <div class="col-12 col-md-8">
              <h5>Web Content Editor</h5>
              <p>
                Content Management Systems highlight.
                Maintained, updated, curated and created landing pages for the contracted clients of the company in
                either Adobe Experience Manager, Wordpress or Drupal.
              </p>
            </div>
          </div>
          <div class="row fs-6">
            <div class="col-12 col-md-4 text-center">
              <h5>Software Development Academy</h5>
              <p>October 2020 - May 2021</p>
            </div>
            <div class="col-12 col-md-8">
              <h5>JavaScript Trainee</h5>
              <p>
                Rounded out my web development skill set with advanced notions of HTML, CSS, JavaScript, and with some
                training on CSS preprocessors, RWD frameworks and Content Management Systems.
                I focused on structural programming and devising design patterns.
              </p>
            </div>
          </div>
          <div class="row fs-6">
            <div class="col-12 col-md-4 text-center">
              <h5>Johns Hopkins University</h5>
              <p>November 2020 - January 2021</p>
            </div>
            <div class="col-12 col-md-8">
              <h5>HTML, CSS and Javascript for Web Developers (course)</h5>
              <p>
                Extended my knowledge of implementing single-page applications with HTML and CSS.
                I used Javascript to build a fully functional web application that utilized Ajax to expose server-side
                functionality and data to the end user.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>