.projects {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 270px));
  justify-content: space-around;
}

@media (min-width: 500px) and (max-width: 768px) {
  .projects{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 499px) {
  .projects{
      grid-template-columns: 1fr;
  }    
}