.status-icon {
  width: 15px;
  height: 15px;
  background-color: #1becaf;
  border-radius: 50%;
  outline: 3px solid #12e5a7;
  outline-offset: -3px;
  filter: drop-shadow(0 0 13.2px rgba(179, 255, 26, 1));
  animation: changeRadius 10s infinite;
}

@keyframes changeRadius {
  0% {
    outline-color: #12e5a7;
    filter: drop-shadow(0 0 13.2px rgba(179, 255, 26, 1))
  }

  50% {
    outline-color: #1becaf;
    filter: drop-shadow(0 0 0 rgba(179, 255, 26, 1))
  }

  to {
    outline-color: #12e5a7;
    filter: drop-shadow(0 0 13.2px rgba(179, 255, 26, 1))
  }
}