<nav class="navbar navbar-expand-sm">
  <div class="container-fluid fs-5">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 text-center">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/posts']" routerLinkActive="active">Posts</a>
        </li>  
        <li class="nav-item dropdown nav-dropdown">
          <a class="nav-link dropdown-toggle nav-dropdown-toggle border-top" routerLinkActive="active" role="button" data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
          <ul class="dropdown-menu text-center">
            <li><a class="dropdown-item tomato-color" [routerLink]="['/pomodoro-timer']" routerLinkActive="active">Pomodoro Timer</a></li>
            <li><a class="dropdown-item" [routerLink]="['/projects']" routerLinkActive="active">Code Snippets</a></li>
            <li><a class="dropdown-item" href="https://cognitivewebworks.ro/" target="_blank">Cognitive Web Works</a></li>
          </ul>
        </li>      
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle fs-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi" [ngClass]="icons[currentTheme]"></i>
        Theme
      </button>
      <ul class="dropdown-menu dropdown-menu-end fs-5">
        <li>
          <button class="dropdown-item" type="button" (click)="changeTheme('modern')">
            <i class="bi bi-controller"></i> Modern
          </button>
        </li>
        <li>
          <button class="dropdown-item" type="button" (click)="changeTheme('retro')">
            <i class="bi bi-joystick"></i> Retro
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>