//
// Global colors
//

// scss-docs-start sass-modern-mode-vars
// scss-docs-start theme-text-modern-variables
$primary-text-emphasis-modern:        tint-color($primary, 40%) !default;
$secondary-text-emphasis-modern:      tint-color($secondary, 40%) !default;
$success-text-emphasis-modern:        tint-color($success, 40%) !default;
$info-text-emphasis-modern:           tint-color($info, 40%) !default;
$warning-text-emphasis-modern:        tint-color($warning, 40%) !default;
$danger-text-emphasis-modern:         tint-color($danger, 40%) !default;
$light-text-emphasis-modern:          $gray-100 !default;
$modern-text-emphasis-modern:           $gray-300 !default;
// scss-docs-end theme-text-modern-variables

// scss-docs-start theme-bg-subtle-modern-variables
$primary-bg-subtle-modern:            shade-color($primary, 80%) !default;
$secondary-bg-subtle-modern:          shade-color($secondary, 80%) !default;
$success-bg-subtle-modern:            shade-color($success, 80%) !default;
$info-bg-subtle-modern:               shade-color($info, 80%) !default;
$warning-bg-subtle-modern:            shade-color($warning, 80%) !default;
$danger-bg-subtle-modern:             shade-color($danger, 80%) !default;
$light-bg-subtle-modern:              $gray-800 !default;
$modern-bg-subtle-modern:               mix($gray-800, $black) !default;
// scss-docs-end theme-bg-subtle-modern-variables

// scss-docs-start theme-border-subtle-modern-variables
$primary-border-subtle-modern:        shade-color($primary, 40%) !default;
$secondary-border-subtle-modern:      shade-color($secondary, 40%) !default;
$success-border-subtle-modern:        shade-color($success, 40%) !default;
$info-border-subtle-modern:           shade-color($info, 40%) !default;
$warning-border-subtle-modern:        shade-color($warning, 40%) !default;
$danger-border-subtle-modern:         shade-color($danger, 40%) !default;
$light-border-subtle-modern:          $gray-700 !default;
$modern-border-subtle-modern:           $gray-800 !default;
// scss-docs-end theme-border-subtle-modern-variables

$body-color-modern:                   $gray-300 !default;
$body-bg-modern:                      #070705 !default;
$body-secondary-color-modern:         rgba($body-color-modern, .75) !default;
$body-secondary-bg-modern:            $gray-800 !default;
$body-tertiary-color-modern:          rgba($body-color-modern, .5) !default;
$body-tertiary-bg-modern:             mix($gray-800, #070705, 50%) !default;
$body-emphasis-color-modern:          $white !default;
$border-color-modern:                 #14c1c1 !default;
$border-color-translucent-modern:     rgba($white, .15) !default;
$headings-color-modern:               inherit !default;
$link-color-modern:                   tint-color($primary, 40%) !default;
$link-hover-color-modern:             shift-color($link-color-modern, -$link-shade-percentage) !default;
$code-color-modern:                   tint-color($code-color, 40%) !default;
$mark-color-modern:                   $body-color-modern !default;
$mark-bg-modern:                      $yellow-800 !default;


//
// Forms
//

$form-select-indicator-color-modern:  $body-color-modern !default;
$form-select-indicator-modern:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color-modern}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>") !default;

$form-switch-color-modern:            rgba($white, .25) !default;
$form-switch-bg-image-modern:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color-modern}'/></svg>") !default;

// scss-docs-start form-validation-colors-modern
$form-valid-color-modern:             $green-300 !default;
$form-valid-border-color-modern:      $green-300 !default;
$form-invalid-color-modern:           $red-300 !default;
$form-invalid-border-color-modern:    $red-300 !default;
// scss-docs-end form-validation-colors-modern


//
// Accordion
//

$accordion-icon-color-modern:         $primary-text-emphasis-modern !default;
$accordion-icon-active-color-modern:  $primary-text-emphasis-modern !default;

$accordion-button-icon-modern:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color-modern}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
$accordion-button-active-icon-modern:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color-modern}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
// scss-docs-end sass-modern-mode-vars