<div class="card terminal-window">
  <div class="welcome-window">
    <h1 class="card-header mt-3 pb-0 text-center"><span><a class="btn btn-link fs-4" routerLink="../"><i class="bi bi-arrow-left"></i></a></span> {{terminal.value}}</h1>
    <section class="card-body position-relative pt-3 post-background">
      <div #rainContainer class="position-absolute top-0 bottom-0 start-0 end-0 z-n1"></div>
      <div class="text-justify">
        <div>
          <article class="box d-grid gap-4 px-4 py-0">
            @if (post$ | async; as postParts) {
              @for (part of postParts; track $index) {
                @switch (part.type) {
                  @case ("DATE") {
                    <div class="d-flex align-items-center justify-content-between">
                      <span class="fst-italic position-absolute end-0 me-5">{{ part.text }}</span>
                    </div>
                  }
                  @case ("TITLE") {
                    <h1 class="text-center fs-3 garden-color">{{ part.text }}</h1>
                  }
                  @case ("SUBTITLE") {
                    <h5 [innerHTML]="part.text" class="subtitle mb-0 fs-4 fw-bold text-center"></h5>
                  }
                  @case ("PARAGRAPH") {
                    <p [innerHTML]="part.text" class="fs-5 mb-0"></p>
                  }
                  @case ("LIST") {
                    <ul class="fs-5 m-auto">
                      @for (item of part.items; track $index) {
                        <li [innerHTML]="item"></li>
                      }
                    </ul>
                  }
                  @case ("IMAGE") {
                    <div>
                      <img [src]="part.src" class="d-block w-100" [alt]="part.alt" [style]="part.style"/>
                      <div class="float-end">
                        <h5>{{ part.captionTitle }}</h5>
                        <p>{{ part.captionText }}</p>
                      </div>
                    </div>
                  }
                  @case ("DIVIDER"){
                    <hr class="mt-0" />
                  }
                }
              }
            }
          </article>
        </div>
      </div>
    </section>
    <section class="card-footer text-center">
      <img class="classic-image border-bottom opacity-25 w-100" style="height:250px;" src="/assets/modern-design/flower-field.png" loading="lazy" alt="">
      <img class="modern-image border-bottom opacity-25 w-100" style="height:200px;" src="/assets/modern-design/grass-field.png" loading="lazy" alt="">
    </section>
  </div>
</div>